<div class="p-2 sm:ml-60">
    <div class="pt-5 xl:p-10">
      <div>
        <h1 class="text-orange-500 ml-5 font-bold font-primary text-left text-xl mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 text-orange-500 inline">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75" />
          </svg>
          Student OJT Performance Evaluations
        </h1>
        <div class="border-b border-gray-300"></div>
        <br />
      </div>
  
      <div *ngIf="currentBlock; else noBlockMessage">
        <div class="form-outline mt-3">
          <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="search" [(ngModel)]="searchtext" id="form1"
            class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search for students in {{currentBlock}}..." aria-label="search" />
        </div>      
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <div *ngIf="isLoading" class="flex justify-center">
            <p class="font-secondary text-2xl">Loading...</p>
          </div>
          <ng-container *ngIf="!isLoading">
            <ng-container *ngIf="studentlist?.length; else noDataMessage">
              <table mat-table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-center font-primary   ">
                      Student ID
                    </th>
                    <th scope="col" class="px-6 py-3 text-center font-primary   ">
                      Full Name
                    </th>
                    <th scope="col" class="px-6 py-3 text-center font-primary   ">
                      Training Hours
                    </th>
                    <th scope="col" class="px-6 py-3 text-center font-primary   ">
                      Submissions
                    </th>
                    <th scope="col" class="px-6 py-3 text-center font-primary   ">
                      Evaluation
                    </th>
                    <th scope="col" class="px-6 py-3 text-center font-primary   ">
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody class="font-secondary text-center">
  
                  <tr
                    *ngFor="let students of studentlist | paginate: { itemsPerPage: 8, currentPage: p  } | filter : searchtext"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row"
                      class="px-6 text-center py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      {{ students.studentId || 'Not set' }}
                    </th>
                    <td class="px-6 py-4 text-center text-nowrap">
                      {{students.lastName}}, {{ students.firstName }}
                    </td>
                    <td class="px-6 py-4 text-center">
                      <button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                        {{ students.TotalHoursWorked ? students.TotalHoursWorked + ' hrs' : 'Not started' }}
                        <svg class="w-5 h-5 inline text-gray-700 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                          <path fill-rule="evenodd" d="M18.425 10.271C19.499 8.967 18.57 7 16.88 7H7.12c-1.69 0-2.618 1.967-1.544 3.271l4.881 5.927a2 2 0 0 0 3.088 0l4.88-5.927Z" clip-rule="evenodd"/>
                        </svg>
                        
                      </button>
                      <mat-menu #menu="matMenu">
                        <ul class="px-5">
                          <li>
                            <h1>On-Site Hours: {{ students.TotalHoursWorked ? students.TotalHoursWorked + ' hrs' : 'Not started' }}</h1>
                          </li>
                          <div class="border-b border-gray-300 my-2"></div>
                          <li>
                            <h1>Seminar Hours: {{ students.TotalSeminarHours != 0 ? students.TotalSeminarHours + ' hrs' : 'Not started' }}</h1>
                          </li>
  
                        </ul>
                      </mat-menu>
                    </td>
                    <td class="px-6 py-4 text-center">
                      <a (click)="viewEvaluations(students)"
                        class="text-white bg-blue-900 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">View</a>
                    </td>
                    <td class="px-6 py-4">                        
                        <p class="rounded-lg text-base px-4 py-2" [ngClass]="{
                            'text-red-500': students.evaluation_status === 'Incomplete',
                            'text-green-500': students.evaluation_status === 'Completed'
                          }">{{students.evaluation_status}}</p>
                    </td>
                    <td class="px-6 py-4 text-center">
                      <button [matMenuTriggerFor]="actionmenu" (click)="$event.stopPropagation()">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                          <path stroke="currentColor" stroke-linecap="round" stroke-width="4"
                            d="M12 6h.01M12 12h.01M12 18h.01" />
                        </svg>
  
  
                      </button>
                      <mat-menu #actionmenu="matMenu">
                        <button mat-menu-item (click)="viewProfile(students)">
                            <p>View Profile</p>
                          </button>
                      </mat-menu>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="my-5" *ngIf="(studentlist | filter : searchtext)?.length === 0">
                <div class="flex justify-center">
                  <img class="opacity-30 h-44 w-44" src="../../../../assets/empty1.png">
                </div>
                <div class="text-center mb-5">
                  <h1 class="opacity-40 text-center text-xl font-primary">
                    No students found...
                  </h1>
                </div>
                <div class="mb-3 border-b border-gray-200"></div>
              </div>
              <h2 class="opacity-40 text-center text-sm font-primary mt-5">
                Only students that have met 200 of total training hours will be displayed.
              </h2>
              <div class="w-full mt-3 flex justify-center">
                <!-- pagination control -->
                <pagination-controls [responsive]="true" class="my-pagination"
                  (pageChange)="p = $event"></pagination-controls>
  
              </div>
  
            </ng-container>
          </ng-container>
        </div>
      </div>
      <ng-template #noDataMessage>
        <div class="m-10 flex flex-col items-center">
          <div>
            <img class="opacity-40 h-36 w-36" src="../../../../assets/empty3.png">
          </div>
          <div>
            <h1 class="opacity-40 text-center text-4xl font-primary mt-5">
              No Students found...
              <h2 class="opacity-80 text-center text-lg font-primary mt-5">
                Only students that have met 200 of total training hours will be displayed.
              </h2>
            </h1>
          </div>
        </div>
      </ng-template>
      <ng-template #noBlockMessage>
        <div class="m-10 flex flex-col items-center">
          <div>
            <img class="opacity-40 h-36 w-36" src="../../../../assets/empty2.png">
          </div>
          <div>
            <h1 class="opacity-40 text-center text-4xl font-primary mt-5">
              Please select a Class...
            </h1>
          </div>
        </div>
      </ng-template>
    </div>
  </div>