<div class="max-w-4xl max-h-screen overflow-auto mx-auto p-6 bg-white rounded-lg shadow-md font-secondary">
    <h1 class="text-2xl font-bold mb-4">Notice to Supervisors</h1>

    <p class="mb-4">
        By registering an supervisor account for PractiPro, you agree to have a student to supervise under PractiPro in
        conducting their Practicum Program.
    </p>

    <p class="mb-4">
        The student must work for a 5-month period or during summer. This is a very important part of the student's
        professional training. The student earns unit credits and must keep a daily log book (practicum journal) and
        write an extensive report. Each student is evaluated by a practicum advisor as well as by the employer. It is
        important for the students' supervisor to take time to talk to the practicum advisors when they come to evaluate
        the student.
    </p>

    <p class="mb-4">
        We are looking for employers who are willing to provide meaningful training for our students. Please sit down
        with the student to discuss his/her background and experiences. Discuss learning opportunities at your site and
        try to provide training that will strengthen the student's background.
    </p>

    <p class="mb-4">
        We realy heavily on your evaluation of the students' readiness to become professionals in their field in the
        future. Please provide various learning opportunities and evaluate the students' knowledge and abilities.
    </p>

    <p class="mb-4">
        More than one student may be seeking OJT supervision with you. From past experience, it is usually desirable to
        have no more than two students at one site. However, circumstances at your site may facilitate your ability to
        successfully handle more than two. That will be up to you.
    </p>

    <div class="flex justify-center mt-6" (click)="closePopup()">
        <button
            class="text-white bg-blue-950 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            I have read and agree to the Notice for Supervisors of PractiPro.
        </button>
    </div>
</div>