<div class="p-2 sm:ml-56 font-secondary">
    <div class="p-1 xl:p-10">
        <div>
            <h1 class="text-orange-500 font-bold text-center font-primary text-xl mb-3">
                <svg class="w-6 h-6 -mt-0.5 text-orange-500 inline" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 3v4a1 1 0 0 1-1 1H5m4 10v-2m3 2v-6m3 6v-3m4-11v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z" />
                </svg>

                Analytics
            </h1>
            <div class="border-b border-gray-300"></div>
            <br />
        </div>


        <!-- ngIf on this div -->
        <div>

            <div class=" p-8 max-sm:p-4 rounded-md bg-slate-100 shadow-md">
                <div class="card">
                    <p-chart type="bar" [data]="data" [options]="options" />
                </div>
            </div>

            <ng-template #noBlockMessage>
                <div class="m-10 flex flex-col items-center">
                    <div>
                        <img class="opacity-40 h-36 w-36" src="../../../../assets/empty2.png">
                    </div>
                    <div>
                        <h1 class="opacity-40 text-center text-4xl font-primary mt-5">
                            Please select a Class...
                        </h1>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>