<div class="p-2 sm:ml-60">
    <div class="p-1 xl:p-10">
        <div>
            <h1 class="text-orange-500 font-bold text-center font-primary text-xl mb-3">
                <svg class="w-6 h-6 -mt-0.5 text-orange-500 inline" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 3v4a1 1 0 0 1-1 1H5m4 10v-2m3 2v-6m3 6v-3m4-11v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z" />
                </svg>

                Form Analytics
            </h1>
            <div class="border-b border-gray-300"></div>
            <br />
        </div>

        <div class="font-primary text-center max-sm:text-xs flex justify-center">
            <div class="flex justify-center space-x-2 bg-slate-100 rounded-full p-2">

                <a routerLink="analytics-finalreports" routerLinkActive="active"
                    class="my-auto text-black rounded-full py-2 px-10 transition-colors duration-300">
                    Final Reports
                </a>

                <button [routerLink]="['analytics-performanceevaluations']" routerLinkActive="active"
                    class="my-auto text-black rounded-full py-2 px-10 transition-colors duration-300">
                    Performance Evaluations
                </button>


            </div>
        </div>


        <router-outlet></router-outlet>

    </div>
</div>