<!-- background -->
<div class="background"></div>
<!-- content -->
<div
  class="h-screen grid place-content-center grid-cols-2 max-sm:flex-col max-sm:mb-10 max-sm:flex"
>
  <div
    class="h-screen flex mx-auto justify-center mr-5 flex-col max-sm:w-7/12 max-sm:mx-auto max-sm:h-3/6"
  >
    <img
      class="max-sm:sm:mb-3 max-sm:mt-16"
      src="../../../assets/logo.png"
      alt=""
    />
    <h1 class="text-center -mt-5 text-4xl font-mono max-sm:text-3xl">
      Practi<span class="text-orange-500">Pro</span>
    </h1>
  </div>

  <div class="flex mx-auto justify-center h-screen items-center w-3/5">
    <form
      [formGroup]="loginform"
      (ngSubmit)="onLogin2()"
      class="max-w-md w-full max-sm:mb-24"
    >
      <!-- email -->
<div class="relative z-0 w-full mb-5 group">
  <label for="floating_email" class="block text-sm text-gray-500 mb-1">Email</label>
  <input
    type="email"
    name="email"
    id="floating_email"
    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-slate-600 appearance-none 0 focus:outline-none focus:ring-0 focus:border-slate-500"
    formControlName="email"
    required
  />
</div>

<!-- password -->
<div class="relative z-0 w-full mb-5 group">
  <label for="floating_password" class="block text-sm text-gray-500 mb-1">Password</label>
  <input
    type="password"
    name="password"
    id="floating_password"
    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-slate-600 appearance-none 0 focus:outline-none focus:ring-0 focus:border-slate-500"
    formControlName="password"
    required
  />
</div>

      <!-- register -->
      <div class="flex items-end justify-end mb-5 gap-1">
        <a
          href="registration"
          routerLinkActive="active"
          class="hover:underline text-blue-900 hover:text-blue-950 font-bold"
        >
          <span>Register</span>
        </a>
      </div>
      <!-- login -->
      <button
        type="submit"
        class="block mx-auto text-white hover:bg-slate-800 bg-slate-600 focus:outline-none focus:bg-slate-800 font-medium rounded-3xl textsm w-full sm:w-auto px-8 py-2 text-center mb-10"
      >
        Login
      </button>
    </form>
  </div>
</div>
