<div class="p-3 rounded-md max-h-[95vh]">
    <h1 class="mb-2 text-orange-500 font-bold ml-1">Daily Attendances Submitted:</h1>



    <div class="flex items-center mb-3">
        <div class="form-outline flex-grow">
            <input
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                type="search" [(ngModel)]="searchtext" id="form1"
                class=" bg-gray-50 border border-gray-300 rounded-s-md text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search submissions for any text..." aria-label="search" />
        </div>
        <div class="flex justify-center space-x-4">
            <div>
                <div>
                    <button [matMenuTriggerFor]="filtermenu" matTooltip="Filter"
                        class="bg-blue-900 border border-blue-900 font-primary rounded-e-md text-white px-3 py-2  hover:bg-blue-800 "
                        type="button">
                        <svg class="w-6 h-6 inline text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
                            <path
                                d="M5.05 3C3.291 3 2.352 5.024 3.51 6.317l5.422 6.059v4.874c0 .472.227.917.613 1.2l3.069 2.25c1.01.742 2.454.036 2.454-1.2v-7.124l5.422-6.059C21.647 5.024 20.708 3 18.95 3H5.05Z" />
                        </svg>
                    </button>
                    <mat-menu #filtermenu="matMenu">
                        <ul class="px-2 space-y-1 font-primary">
                            <li class="flex justify-center">
                                <button class="rounded-md ms-2 text-orange-500 bg-slate-200 hover:bg-slate-300 px-5"
                                    (click)="setFilter('all')">Show All</button>
                            </li>
                            <h1 class="font-primary">By Approval:</h1>
                            <li class="m-0.5 flex">
                                <button class="rounded-md ms-2 max-sm:text-sm bg-slate-200 hover:bg-slate-300 px-2"
                                    (click)="setFilter('approved')">Approved</button>
                            </li>
                            <li class="m-0.5">
                                <button class="rounded-md ms-2 max-sm:text-sm bg-slate-200 hover:bg-slate-300 px-2"
                                    (click)="setFilter('unapproved')">Unapproved</button>
                            </li>
                            <li class="m-0.5">
                                <button class="rounded-md ms-2 max-sm:text-sm bg-slate-200 hover:bg-slate-300 px-2"
                                    (click)="setFilter('pending')">Pending</button>
                            </li>
                        </ul>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="datalist.length > 0" class=" flow-root bg-slate-50 px-5 pt-5 justify-center text-center overflow-auto shadow-md
        shadow-slate-200 border border-gray-200 sm:rounded-lg">

        <table
            class="w-full border-2 border-slate-600  text-sm text-center rtl:text-right text-gray-900 dark:text-gray-400 font-secondary">
            <thead class=" text-gray-700  bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr class="bg-slate-100 border-b dark:bg-gray-800 dark:border-gray-700 uppercase">
                    <th class="table-data">Week</th>
                    <th class="table-data">Date</th>
                    <th class="table-data">Clock In</th>
                    <th class="table-data">Clock Out</th>
                    <th class="table-data">Total Hours</th>
                    <th class="table-data">Supervisor Approval</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of datalist | paginate: { itemsPerPage: itemsPerPage, currentPage: p  } |filter:searchtext"
                    class="bg-white hover:bg-slate-50 dark:bg-gray-800 dark:border-gray-700">
                    <th class="table-data border-2 border-slate-600">Week {{ record.weekNumber}}</th>
                    <td class="table-data border-2 border-slate-600">{{ record.date | date : "mediumDate" }}</td>
                    <td class="table-data border-2 border-slate-600">{{ record.startTime ? (record.startTime |
                        time:record.startTime) : "Not set" }}</td>
                    <td class="table-data border-2 border-slate-600">{{ record.endTime ? (record.endTime |
                        time:record.endTime) : "Not set" }}</td>
                    <td class="table-data border-2 border-slate-600">{{record.totalHours || "Not Set"}}</td>
                    <td class="table-data border-2 border-slate-600">
                        <p class="rounded-lg text-base px-4 py-2" [ngClass]="{
                            'text-red-500': record.status === 'Unapproved',
                            'text-green-500': record.status === 'Approved'
                          }">{{record.status ? record.status : "Not Clocked-out"}}</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="w-full mt-3 flex justify-center">

            <!-- pagination control -->
            <pagination-controls [responsive]="true" class="my-pagination"
                (pageChange)="p = $event"></pagination-controls>

        </div>
    </div>

    <div *ngIf="datalist.length === 0">
        <div class="flex justify-center">
            <img class="opacity-40 h-44 w-44" src="../../../../assets/empty1.png">
        </div>
        <div class="text-center">
            <h1 class="opacity-40 text-center text-lg font-primary">
                This student has not submitted any records yet.
            </h1>
        </div>
    </div>
</div>