<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond ${REQUEST_FILENAME} !-d
    RewriteCond ${REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ routes.php?request=$1 [L,QSA]
    
</IfModule>

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "Content-Type"