<div class="p-3 rounded-md shadow-xl">
    <h1 class="mb-2 text-orange-500 font-bold ml-1">Weekly Accomplishment Reports Submitted:</h1>


    <div
        class="overflow-auto max-h-96 shadow-md shadow-slate-400 sm:rounded-lg">
        <div *ngIf="isLoading" class="flex justify-center">
            <p class="font-secondary text-2xl">Loading...</p>
          </div>
        <ng-container *ngIf="!isLoading">
            <ng-container *ngIf="studentSubmissions.length > 0 else noDataMessage">
        <table mat-table class="w-full text-sm text-center font-secondary rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Week
                    </th>
                    <th scope="col" class="px-6 py-3">
                        File Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Date Submitted
                    </th>
                    <th scope="col" class="px-6 py-3">
                        View
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Remarks
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let submission of studentSubmissions"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

                    <td class="px-6 py-4">
                        Week {{ submission.week }}
                    </td>
                    <td class="px-6 py-4">
                        {{ submission.file_name }}
                    </td>
                    <td class="px-6 py-4">
                        {{ submission.created_at }}
                    </td>
                    <td class="px-6 py-4">
                        <button (click)="downloadSubmission(submission.war_id, submission.file_name)"
                            class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Download</button>
                    </td>
                    <td class="px-6 py-4">
                        <button (click)="toggleApproval(submission.war_id, submission.remarks)"
                            class="btn-toggle">
                            <p *ngIf="submission.remarks > 0" class="text-green-600">
                                APPROVED
                            </p>
                            <p *ngIf="submission.remarks == 0" class="text-orange-500">
                                UNAPPROVED
                            </p>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</ng-container>
    </div>
    <ng-template #noDataMessage>
        <h1 class="text-center">This student has not submitted any data.</h1>
    </ng-template>
</div>