<div class="p-2 sm:ml-60">
    <div class="p-1 xl:p-10 ">
        <div>
            <h1 class="text-orange-500 ml-5 font-bold text-lg mb-1">Profile</h1>
            <div class="border-b border-gray-300"></div>
        <br>
        </div>
            <div class="grid grid-cols-1  gap-5 sm:gap-5">
                <div class="profile overflow-x-hidden h-auto items-center justify-center rounded-3xl shadow-lg border border-gray-300 shadow-gray-500">
                    <img src="\assets\logo.png" alt="profile" class="center">
                    <div class="pt-2 pl-4 pr-4 text-xs mb-3">
                    <table>
                    <tbody>
                        <tr>
                            <td><b>Full Name</b></td>
                            <td><b class="name">Student's Full Name</b></td>
                        </tr>
                        <tr>
                            <td><b>Student Number</b></td>
                            <td><p>202454321</td>
                        </tr>
                        <tr>
                            <td><b>College/Program</b></td>
                            <td><p>CSS/BSCS</p></td>
                        </tr>
                        <tr>
                            <td><b>Email Address (Domain)</b></td>
                            <td><p>202454321&#64;gordoncollege.edu.ph</p></td>
                        </tr>
                    </tbody>
                    </table>
                    </div>
                </div>

                <div class="info h-auto items-center overflow-x-hidden justify-center rounded-3xl shadow-lg border border-gray-300 shadow-gray-500">
                    <h1><b class="personal">Personal Information</b></h1>
                    <div class="pt-2 pl-4 pr-4 w-full text-xs mb-3">
                    <table>
                    <tbody>
                        <tr>
                            <td><b>Contact Number</b></td>
                            <td><p>09876543211</p></td>
                        </tr>
                        <tr>
                            <td><b>Address</b></td>
                            <td><p>Gordon College</p></td>
                        </tr>
                        <tr>
                            <td><b>Date of Birth</b></td>
                            <td><p>February 24,1999</p></td>
                        </tr>
                        <tr>
                            <td><b>Status</b></td>
                            <td><p>Single</p></td>
                        </tr>
                        <tr>
                            <td><b>Personal Email</b></td>
                            <td><p>personal&#64;gmail.com</p></td>
                        </tr>
                        <tr>
                            <td><b>Gender</b></td>
                            <td><p>Male</p></td>
                        </tr>
                    </tbody>
                    </table>
                    </div>

                    <button type="button" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-dash-b rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                        Edit Information
                    </button>

                </div>  
            </div>  
    </div>
</div>