<app-navbar></app-navbar>
<div class="p-2 sm:ml-60">
    <div class="p-1 xl:p-10 ">
        <div>
            <h1 class="text-orange-500 ml-5 font-bold text-lg mb-1">Profile</h1>
            <div class="border-b border-gray-300"></div>
        <br>
        </div>
        
        <!-- DITO MO LAGAY CODE MO-->

        <div class="border border-gray-300 shadow-xl shadow-gray-500 mb-7 rounded-xl overflow-x-hidden">
            <div class="rounded-xl p-4 bg-slate-200 w-auto">
                <div class="flex justify-center">
                    <!--Lagayan ng Picture-->
                        <img class="rounded-full h-48" 
                    src="../../../assets/logo.png" alt="Pic mo">
        </div>
        <div class="m-auto border-b border-gray-300 w-5/6"></div>

                <div class="p-5">
                        <table class="w-full">
                            <tbody>
                                <tr>
                                    <td class="w-1/3">Full Name</td>
                                    <td class="text-center w-1/3 font-semibold sm:text-2xl">Name mo</td>
                                    <td class="w-1/3"></td>
                                </tr>
                                <tr>
                                    <td>Student Number</td>
                                    <td class="text-center">202212345</td>
                                </tr>
                                <tr>
                                    <td>College/Program</td>
                                    <td class="text-center">CCS/BSCS</td>
                                </tr>
                                <tr>
                                    <td>Email Address (Domain)</td>
                                    <td class="text-center">202212345&#64;gordoncollege.edu.ph</td>
                                </tr>
                                </tbody>
                        </table>
                </div>
            </div>
            <div>

            </div>
        </div>

        <div class="border border-gray-300 shadow-xl shadow-gray-500 overflow-x-hidden rounded-xl">
            <div class="rounded-xl p-4 bg-slate-200 w-auto">
                
        
                <div class="p-5">
                        <table class="w-full">
                            <thead>
                                <tr>
                                    <th class="w-1/3 text-left sm:text-lg">Personal Information</th>
                                    <th class="w-1/3"></th>
                                    <th class="w-1/3"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="w-1/3">Contact Number</td>
                                    <td class="w-1/3"></td>
                                    <td class="text-left w-1/3">09475767533</td>                                 
                                </tr>
                                <tr>
                                    <td class="w-1/3">Address</td>
                                    <td class="w-1/3"></td>
                                    <td class="w-1/3 text-left">94 Fendler st. New Banicain O.C</td>                                   
                                </tr>
                                <tr>
                                    <td>Date of Birth</td>
                                    <td></td>
                                    <td class="text-left">June 29, 2003</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td></td>
                                    <td class="text-left">Single</td>
                                    
                                </tr>
                                <tr>
                                    <td>Personal Email</td>
                                    <td></td>
                                    <td class="text-left">juanitoalfonso&#64;gmail.com</td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td></td>
                                    <td class="text-left">Male</td>
                                </tr>
                                </tbody>
                        </table>
                        <div class="pt-3">
                            <button type="button" class=" text-white bg-slate-700 hover:bg-blue-800 focus:ring-4 focus:ring-slate-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 ">Edit Information</button>
                        </div>
                </div>
            </div>
            <div>

            </div>
        </div>

    </div>
</div>