<div class="p-3 rounded-md shadow-xl">
    <h1 class="mb-2 text-orange-500 font-bold ml-1">Class Students: {{this.data.usercode}}</h1>
    <div *ngIf="datalist.length > 0 else noDataMessage"
        class="overflow-auto max-h-96 shadow-md shadow-slate-400 sm:rounded-lg">
        <table mat-table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 text-center">
                        Avatar:
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Student ID:
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Full Name:
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        On-Site Hours:
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Seminar Hours:
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of datalist" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

                    <td class="px-6 py-4 text-center">
                        <img *ngIf="student.avatar; else placeholder" [src]="student.avatar"
                            class="mx-auto w-20 h-20 rounded-full">
                        <ng-template #placeholder>
                            <div class="mx-auto w-20 h-20 image-container avatar-placeholder">
                        
                            </div>
                        </ng-template>
                    </td>
                    <td class="px-6 py-4 text-center">
                        {{ student.studentId }}
                    </td>
                    <td class="px-6 py-4 text-center">
                        {{student.lastName}}, {{ student.firstName }}
                    </td>
                    <td class="px-6 py-4 text-center font-primary font-bold text-xl text-blue-900">
                        {{ student.TotalHoursWorked || "0.00"}} hrs
                    </td>
                    <td class="px-6 py-4 text-center font-primary font-bold text-xl text-blue-900">
                        {{ student.TotalSeminarHours || "0.00"}} hrs
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #noDataMessage>
        <div class="flex justify-center">
            <img class="opacity-40 h-44 w-44" src="../../../../assets/empty1.png">
        </div>
        <div class="text-center">
            <h1 class="opacity-40 text-center text-xl font-primary">
                This class currently has no students.
            </h1>
            <h2 class="mt-1 text-center text-sm font-primary">
            </h2>
            <span class="opacity-40">You can assign students in the </span><button (click)="redirect()" class="text-blue-800">Students Page</button>
        </div>
    </ng-template>
</div>