<div class="p-3 rounded-md shadow-xl max-h-[90vh] overflow-auto relative">
    <div class="absolute top-2.5 right-2.5">
        <button (click)="closePopup()"
            class="p-1 bg-gray-200 opacity-60 hover:opacity-100 hover:shadow-lg rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-x">
                <path d="M18 6 6 18" />
                <path d="m6 6 12 12" />
            </svg>
        </button>
    </div>
    <div class="flex justify-center mb-2">
        <h1 class="text-orange-500 font-bold text-lg text-center relative">Weekly Accomplishment Reports
            Submitted:
            <svg class="w-5 h-5 inline -mt-1.5 text-gray-500 dark:text-white" aria-hidden="true"
                matTooltip="Only records that are approved by the student's supervisor will be displayed."
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9.529 9.988a2.502 2.502 0 1 1 5 .191A2.441 2.441 0 0 1 12 12.582V14m-.01 3.008H12M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
        </h1>
    </div>

    <div *ngIf="isLoading" class="flex justify-center">
        <p class="font-secondary text-2xl">Loading...</p>
    </div>
    <ng-container *ngIf="!isLoading">

        <ng-container *ngIf="recordsList.length > 0 else noDataMessage">
            <div *ngFor="let record of recordsList" class="relative mb-1.5">
                <div *ngIf="record.advisor_approval === 'Pending'"
                    class="bg-red-500 -mt-0.5 -mr-1 absolute top-0 right-0 rounded-full p-1.5">
                </div>
                <app-war-accordion headerText="Week {{record.week}}" addText1="{{record.dateSubmitted}}">
                    <ng-container accordion-icon>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-7 h-7 -mt-0.5 inline text-orange-500">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z" />
                        </svg>
                    </ng-container>
                    <ng-container accordion-text1>
                        <p class="text-gray-700 text-sm font-primary px-5"><span class="font-semibold">Submitted on:
                            </span>{{record.dateSubmitted |
                            date: "medium"}}
                        </p>
                    </ng-container>

                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg border border-gray-300">
                        <div *ngFor="let activity of getActivitiesForRecord(record.id)"
                            class="relative px-10 max-sm:px-3 py-3 gap-5 border-b border-gray-300 font-secondary text-gray-900 grid grid-cols-5 bg-white">
                            <div class="col-span-3 max-sm:col-span-5">
                                <p
                                    class="p-2.5 max-sm:text-sm text-xl h-full break-words text-gray-900 rounded-lg border border-gray-300">
                                    {{activity.description}}
                                </p>
                            </div>
                            <div class="col-span-2 max-sm:col-span-5 my-auto text-center">
                                <p class="text-base"><b>{{activity.date | date : "longDate"}}</b></p>
                                <p class="text-lg">Time of Work: <b>{{activity.startTime | time:
                                        activity.startTime}}</b> -
                                    <b>{{activity.endTime | time: activity.endTime}}</b>
                                </p>
                                <p class="font-primary text-blue-900 font-bold text-4xl max-sm:text-xl">
                                    {{activity.TotalHours ?
                                    activity.TotalHours + ' Total Hours' : 0}}</p>
                            </div>

                        </div>
                        <div class="flex justify-center p-3 gap-3">
                            <button (click)="viewComments(record.id, 'Week ' + record.week)"
                                class="text-white inline-flex items-center bg-blue-900 hover:bg-blue-800 focus:outline-non font-medium rounded-lg text-sm px-3 py-2.5 text-center">
                                <svg class="w-5 h-5 text-gray-800 dark:text-white inline" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white"
                                    viewBox="0 0 24 24">
                                    <path fill-rule="evenodd"
                                        d="M3.559 4.544c.355-.35.834-.544 1.33-.544H19.11c.496 0 .975.194 1.33.544.356.35.559.829.559 1.331v9.25c0 .502-.203.981-.559 1.331-.355.35-.834.544-1.33.544H15.5l-2.7 3.6a1 1 0 0 1-1.6 0L8.5 17H4.889c-.496 0-.975-.194-1.33-.544A1.868 1.868 0 0 1 3 15.125v-9.25c0-.502.203-.981.559-1.331ZM7.556 7.5a1 1 0 1 0 0 2h8a1 1 0 0 0 0-2h-8Zm0 3.5a1 1 0 1 0 0 2H12a1 1 0 1 0 0-2H7.556Z"
                                        clip-rule="evenodd" />
                                </svg>
                                <span class="ml-1 max-sm:hidden">Comments</span>
                            </button>
                            <select (click)="$event.stopPropagation()"
                                class="border-0 shadow-md text-center rounded-lg cursor-pointer"
                                [(ngModel)]="record.advisor_approval" [ngClass]="{
                                'text-green-500': record.advisor_approval === 'Approved',
                                'text-red-500': record.advisor_approval === 'Unapproved',
                                'text-gray-500': record.advisor_approval === 'Pending'
                              }" (change)="onStatusChange(record)">
                                <option value="Approved" class="text-green-500">Approved</option>
                                <option value="Unapproved" class="text-red-500">Unapproved</option>
                                <option *ngIf="record.advisor_approval === 'Pending'" value="Pending" hidden
                                    class="text-gray-500">Pending</option>
                            </select>
                            <!-- <p class="text-gray-700 my-auto text-sm font-primary"><span class="font-semibold">Supervisor
                                    Approval:
                                </span> <span [(ngModel)]="record.advisor_approval" [ngClass]="{
                            'text-green-500': record.advisor_approval === 'Approved',
                            'text-red-500': record.advisor_approval === 'Unapproved',
                            'text-gray-500': record.advisor_approval === 'Pending'
                          }"> {{record.supervisor_approval}}</span>
                            </p> -->
                        </div>
                    </div>
                </app-war-accordion>
            </div>
        </ng-container>

    </ng-container>
    <ng-template #noDataMessage>
        <div class="flex justify-center">
            <img class="opacity-40 h-44 w-44" src="../../../../assets/empty1.png">
        </div>
        <div class="text-center">
            <h1 class="opacity-40 text-center text-lg font-primary">
                This student has not submitted any reports yet.
            </h1>
        </div>
    </ng-template>
</div>


<!-- <div class="p-3 rounded-md shadow-xl">
    <h1 class="mb-2 text-orange-500 font-bold ml-1">Weekly Accomplishment Reports Submitted:</h1>

    <div *ngIf="isLoading" class="flex justify-center">
        <p class="font-secondary text-2xl">Loading...</p>
    </div>
    <ng-container *ngIf="!isLoading">
        <div class="flex items-center mb-3">
            <div class="form-outline flex-grow">
                <input
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    type="search" [(ngModel)]="searchtext" id="form1"
                    class=" bg-gray-50 border border-gray-300 rounded-s-md text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Search submissions for any text..." aria-label="search" />
            </div>
            <div class="flex justify-center space-x-4">
                <div>
                    <div>
                        <button [matMenuTriggerFor]="filtermenu" matTooltip="Filter"
                            class="bg-blue-900 border border-blue-900 font-primary rounded-e-md text-white px-3 py-2  hover:bg-blue-800 "
                            type="button">
                            <svg class="w-6 h-6 inline text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white"
                                viewBox="0 0 24 24">
                                <path
                                    d="M5.05 3C3.291 3 2.352 5.024 3.51 6.317l5.422 6.059v4.874c0 .472.227.917.613 1.2l3.069 2.25c1.01.742 2.454.036 2.454-1.2v-7.124l5.422-6.059C21.647 5.024 20.708 3 18.95 3H5.05Z" />
                            </svg>
                        </button>
                        <mat-menu #filtermenu="matMenu">
                            <ul class="px-2 space-y-1 font-primary">
                                <li class="flex justify-center">
                                    <button class="rounded-md ms-2 text-orange-500 bg-slate-200 hover:bg-slate-300 px-5"
                                      (click)="setFilter('all')">Show All</button>
                                  </li>
                                  <h1 class="font-primary">By Supervisor Approval:</h1>
                                  <li class="m-0.5 flex">
                                    <button class="rounded-md ms-2 max-sm:text-sm bg-slate-200 hover:bg-slate-300 px-2"
                                      (click)="setFilter('s-approved')">Approved</button>
                                  </li>
                                  <li class="m-0.5">
                                    <button class="rounded-md ms-2 max-sm:text-sm bg-slate-200 hover:bg-slate-300 px-2"
                                      (click)="setFilter('s-unapproved')">Unapproved</button>
                                  </li>
                                  <li class="m-0.5">
                                    <button class="rounded-md ms-2 max-sm:text-sm bg-slate-200 hover:bg-slate-300 px-2"
                                      (click)="setFilter('s-pending')">Pending</button>
                                  </li>
                                  <h1 class="font-primary">By Advisor Approval:</h1>
                                  <li class="m-0.5 flex">
                                    <button class="rounded-md ms-2 max-sm:text-sm bg-slate-200 hover:bg-slate-300 px-2"
                                      (click)="setFilter('a-approved')">Approved</button>
                                  </li>
                                  <li class="m-0.5">
                                    <button class="rounded-md ms-2 max-sm:text-sm bg-slate-200 hover:bg-slate-300 px-2"
                                      (click)="setFilter('a-unapproved')">Unapproved</button>
                                  </li>
                                  <li class="m-0.5">
                                    <button class="rounded-md ms-2 max-sm:text-sm bg-slate-200 hover:bg-slate-300 px-2"
                                      (click)="setFilter('a-pending')">Pending</button>
                                  </li>
                            </ul>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngIf="studentSubmissions.length > 0 else noDataMessage">
            <table mat-table
                class="w-full text-sm text-center font-secondary rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>

                        <th scope="col" class="px-6 py-3">
                            Week:
                        </th>
                        <th scope="col" class="px-6 py-3">
                            File Name:
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Date Submitted:
                        </th>
                        <th scope="col" class="px-6 py-3">
                            View File:
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Comments
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Supervisor Approval:
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Advisor<br>Approval:
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Actions:
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let submission of studentSubmissions | paginate: { itemsPerPage: 5, currentPage: p  }"
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

                        <td class="px-6 py-4">
                            Week {{ submission.week }}
                        </td>
                        <td class="px-6 py-4">
                            {{ submission.file_name }}
                        </td>
                        <td class="px-6 py-4">
                            {{ submission.created_at | date:"medium" }}
                        </td>
                        <td class="px-6 py-4">
                            <button (click)="viewFile(submission.id)"
                                class="focus:outline-none inline-flex text-white bg-blue-900 hover:bg-blue-800  focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5  dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide mr-1 inline lucide-search">
                                <circle cx="11" cy="11" r="8" />
                                <path d="m21 21-4.3-4.3" />
                              </svg>View</button>
                        </td>

                        <td class="px-6 py-4">
                            <button (click)="viewComments(submission.id, submission.file_name)"
                                class="text-white inline-flex items-center bg-blue-900 hover:bg-blue-800 focus:outline-non font-medium rounded-lg text-sm px-3 py-2.5 text-center">
                                <svg class="w-5 h-5 text-gray-800 dark:text-white inline" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white"
                                    viewBox="0 0 24 24">
                                    <path fill-rule="evenodd"
                                        d="M3.559 4.544c.355-.35.834-.544 1.33-.544H19.11c.496 0 .975.194 1.33.544.356.35.559.829.559 1.331v9.25c0 .502-.203.981-.559 1.331-.355.35-.834.544-1.33.544H15.5l-2.7 3.6a1 1 0 0 1-1.6 0L8.5 17H4.889c-.496 0-.975-.194-1.33-.544A1.868 1.868 0 0 1 3 15.125v-9.25c0-.502.203-.981.559-1.331ZM7.556 7.5a1 1 0 1 0 0 2h8a1 1 0 0 0 0-2h-8Zm0 3.5a1 1 0 1 0 0 2H12a1 1 0 1 0 0-2H7.556Z"
                                        clip-rule="evenodd" />
                                </svg>
                                <span class="ml-1">{{submission.comments}}</span>
                            </button>
                        </td>
                        <td class="px-6 py-4">                        
                            <p class="rounded-lg text-base px-4 py-2" [ngClass]="{
                                'text-red-500': submission.supervisor_approval === 'Unapproved',
                                'text-green-500': submission.supervisor_approval === 'Approved'
                              }">{{submission.supervisor_approval}}</p>
                        </td>
                        <td class="px-6 py-4">
                            <select class="border-0 shadow-md text-center rounded-lg cursor-pointer" [(ngModel)]="submission.advisor_approval" [ngClass]="{
                                      'text-green-500': submission.advisor_approval === 'Approved',
                                      'text-red-500': submission.advisor_approval === 'Unapproved',
                                      'text-gray-500': submission.advisor_approval === 'Pending'
                                    }" (change)="onStatusChange(submission)">
                                <option value="Approved" class="text-green-500">Approved</option>
                                <option value="Unapproved" class="text-red-500">Unapproved</option>
                                <option *ngIf="submission.advisor_approval === 'Pending'" value="Pending" hidden class="text-gray-500">Pending</option>
                            </select>
                        </td>
                        <td class="px-6 py-4">
                            <button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-width="4"
                                        d="M12 6h.01M12 12h.01M12 18h.01" />
                                </svg>


                            </button>
                            <mat-menu #menu="matMenu">
                                <li class="space-x-3 px-3">
                                    <button (click)="downloadFile(submission.id, submission.file_name)"
                                        class="text-white inline-flex items-center bg-green-500 hover:bg-green-800 focus:outline-non font-medium rounded-full text-sm px-3 py-2.5 text-center"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-download">
                                            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                                            <polyline points="7 10 12 15 17 10" />
                                            <line x1="12" x2="12" y1="15" y2="3" />
                                        </svg></button>
                                    <button
                                        class="text-white inline-flex items-center bg-red-500 hover:bg-red-800 focus:outline-non font-medium rounded-full text-sm px-3 py-2.5 text-center"
                                        (click)="deleteSubmission(submission.id)"><svg
                                            class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white"
                                            viewBox="0 0 24 24">
                                            <path fill-rule="evenodd"
                                                d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                </li>
                            </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="w-full mt-3 flex justify-center">
                <pagination-controls [responsive]="true" class="my-pagination"
                  (pageChange)="p = $event"></pagination-controls>
              </div>

        </ng-container>
    </ng-container>
    <ng-template #noDataMessage>
        <div class="flex justify-center">
            <img class="opacity-40 h-44 w-44" src="../../../../assets/empty1.png">
        </div>
        <div class="text-center">
            <h1 class="opacity-40 text-center text-lg font-primary">
                This student has not submitted any reports yet.
            </h1>
        </div>
    </ng-template>
</div> -->