

<div class="flex-col items-center bg-slate-50">

    <!-- landing page navbar -->
    <div class=" bg-white z-10 flex w-full p-2 shadow-md justify-between fixed top-0 left-0 right-0">
        <a href="https://gordoncollege.edu.ph/ccs/">
            <div class="flex items-center">
                <img src="../../../assets/gclogo.jpg" class="size-10 ml-2">
                <img src="../../../assets/logo.png" class="size-12 mr-1 ml-1">
                <span class="font-semibold">Practi</span><span class=" text-orange-600 font-semibold">Pro</span>
            </div>
        </a>

        <a href="login" class="flex items-center hover:bg-slate-300 p-3 ">
            <span class="font-semibold text-xs">Login</span>
        </a>
    </div>

    <div class="max-sm:flex-col flex items-center px-12 mt-16">
        <img
        class="size-64"
        src="../../../assets/logo.png"
        alt="Logo Image"
        />
        <div class="items-center max-sm:text-center">
            <h2 class="font-extrabold opacity-70 text-xl mb-2 text-blue-900">ABOUT PRACTI<span class="text-orange-600">PRO</span></h2>
            <p class="text-gray-800">an innovative platform that streamlines the management of student internships by digitizing paperwork and facilitating collaboration between students, educators, and industry partners. It offers digital evaluation and reporting tools to provide insights into program and student performance, helping students on their path to professional success.</p>
        </div>
    </div>

    <hr class="mx-auto w-11/12 h-0.5 mt-3 bg-black">

    <div class="flex-row flex max-sm:flex-col">

      <div class="flex-col max-sm:w-full w-2/5 px-4 py-8">

        <div class="px-4 py-2 border mb-4 border-black">
            <h2 class="font-extrabold opacity-70 text-lg mb-1 text-blue-900">OUR OBJECTIVES</h2>
            <p class="text-md px-2 text-gray-800">Provide clear directions and deadlines, along 
                with the ability to upload a variety of file formats easily.<br>
                Allow smooth communication between teachers and 
                students. Facilitate interaction, respond to inquiries, and offer a forum for 
                constructive feedback<br>
                Give students the ability to monitor their progress on 
                practicum submissions. Encourage students to fulfill deadlines and expectations by 
                increasing accessibility and obligation<br>
                To reduce the amount of paperwork and save 
                time, allow instructors and administrators to digitally complete evaluation forms 
                within the platform. Based on information gathered through the platform, provide 
                reports on program performance, practicum layouts, and student performance.<br>
                To reduce the amount of time and paperwork required for traditional 
                practicum processes., allowing instructors and administrators to digitally complete evaluation 
                forms within the platform. providing reports on program performance, practicum layouts, and 
                student performance based on information gathered through the platform.
            </p>            
        </div>

        <div class="px-4 py-2 border mb-4 border-black">
          <h2 class="font-extrabold opacity-70 text-lg mb-3 text-orange-600">ASSOCIATED WITH</h2>
          <a href="https://gordoncollege.edu.ph/ccs/">
            <img  class="size-48 mx-auto" src="../../../assets/gclogo.jpg">   
          </a>  
  
      </div>

    </div>

    <div class="w-3/5 max-sm:w-full flex-col px-4 py-8 my-2 justify-center">
      <div class="text-center">
        <h1 class="text-xl font-extrabold opacity-70 text-blue-900 mb-3">MEET THE <span class="text-orange-700">TEAM!</span></h1>
      </div>
      <div class="mt-4 flex flex-col items-center justify-center">
        <div class="p-1 text-center text-sm">
          <img class="size-32 rounded-full mb-1 border-4 border-blue-800 ml-16" src="../../../assets/denz.png">
          <p class="font-semibold">Project Manager and Fullstack Developer</p>
          <p>Denzel Manz Perez</p>
        </div>
        <div class="mt-2 flex flex-nowrap max-sm:flex-col max-sm:space-x-0 space-x-6" >
          <div class="p-1 text-center text-sm max-sm:mb-3">
            <img class="size-32 rounded-full mb-1 border-4 border-blue-800" src="../../../assets/sherwin.png">
            <p class="font-semibold">Wireframe Designer</p>
            <p>Sherwin De Guzman</p>
          </div>
          <div class="p-1 text-center text-sm max-sm:mb-3">
            <img class="size-32 rounded-full mb-1 border-4 border-blue-800" src="../../../assets/carmi.png">
            <p class="font-semibold">Wireframe Designer</p>
            <p>Carmi Wilna Tongson</p>
          </div>
          <div class="p-1 text-center text-sm max-sm:mb-3">
            <img class="mx-auto size-32 rounded-full mb-1 border-4 border-blue-800" src="../../../assets/dei.png">
            <p class="font-semibold">Wireframe Designer</p>
            <p class="text-sm">Deianne Jeinne <br> Resurreccion</p>
          </div>          
        </div>

        <div class="mt-2 flex flex-nowrap max-sm:flex-col max-sm:space-x-0 space-x-6" >
          <div class="p-1 text-center text-sm max-sm:mb-3">
            <img class="size-32 rounded-full mb-1 border-4 border-blue-800" src="../../../assets/shwn.png">
            <p class="font-semibold">Frontend Developer</p>
            <p>Shawn Tyrone D. Rada</p>
          </div>
          <div class="p-1 text-center text-sm max-sm:mb-3">
            <img class="size-32 rounded-full mb-1 border-4 border-blue-800" src="../../../assets/pajaro.png">
            <p class="font-semibold">Frontend Developer</p>
            <p>Roescen Abie Pajaro</p>
          </div>
          <div class="p-1 text-center text-sm max-sm:mb-3">
            <img class="size-32 rounded-full mb-1 border-4 border-blue-800" src="../../../assets/jadev.png">
            <p class="font-semibold">Frontend Developer</p>
            <p>Jade Vinas</p>
          </div>
        </div>

        <div class="p-1 mt-2 flex flex-nowrap max-sm:flex-col max-sm:space-x-0 space-x-6" >
          <div class="text-center text-sm max-sm:mb-3">
            <img class="size-32 rounded-full mb-1 border-4 border-blue-800" src="../../../assets/rj.png">
            <p class="font-semibold">Frontend Developer</p>
            <p>Rj Verceles</p>
          </div>
          <div class="p-1 text-center text-sm max-sm:mb-3">
            <img class="size-32 rounded-full mb-1 border-4 border-blue-800" src="../../../assets/well.png">
            <p class="font-semibold">Frontend Developer</p>
            <p>Jimmuel Bernardino</p>
          </div>
          <div class="p-1 text-center text-sm max-sm:mb-3">
            <img class="size-32 rounded-full mb-1 border-4 border-blue-800" src="../../../assets/nicholas.png">
            <p class="font-semibold">Quality Assurance</p>
            <p>Nicolas Milton Ching</p>
          </div>
        </div>

        <div class="p-1 text-center text-sm">
          <img class=" mx-auto size-32 rounded-full border-4 border-blue-800" src="../../../assets/chard.png">
          <p class="font-semibold">Member</p>
          <p>Richard Biaculo</p>
        </div>

    </div>

    

    

</div>
