


<div class="p-2 sm:ml-60">
    <div class="p-1 xl:p-10">
        <div>
            <h1 class="ml-5 font-bold text-lg mb-4">
                <span class="text-orange-500 border-b-2 border-orange-500">DATE AND TIME</span>
            </h1>
        </div>
        
        <div class="overflow-x-hidden overflow-y-scroll max-h-72 bg-stone-100 items-left justify-left rounded-lg shadow-lg border shadow-gray-400">
            <div class="pt-2 pl-4 pr-4 text-xs mb-5">
                <!-- SAMPLE Student 1 -->
                <div class="mb-1 flex justify-between items-center">
                    <tr>
                        <th class="text-white bg-teal-500 font-bold text-sm rounded-3xl py-2 px-4 mb-1 me-2">202235682 Hong, Joshua M.</th>
                        <th class="bg-orange-400 text-white font-bold text-xs py-1 px-2 rounded-3xl mb-1"> Company Name </th>
                    </tr>
                    <button class="bg-red-500 hover:bg-gray-600 text-white rounded-3xl font-bold py-2 px-4 mb-2" onclick="goBack()">X</button>
                </div>
                
                <h2 class="border-b-4 border-orange-500 mb-2"></h2>

                <div class="bg-blue-300 border border-gray-200 shadow-gray-500 rounded-xl pt-1 px-5 mb-5 rounded-bl-lg rounded-br-lg">
                    <table class="w-full">
                        <thead>
                            <tr>
                                <th class="bg-blue-500 text-white font-bold text-xs py-1 px-2 rounded mb-4">Date</th>
                                <th class="bg-blue-500 text-white font-bold text-xs py-1 px-2 rounded mb-1">Time</th>
                                <th class="bg-blue-500 text-white font-bold text-xs py-1 px-2 rounded mb-1">Arrival Time</th>
                                <th class="bg-blue-500 text-white font-bold text-xs py-1 px-2 rounded mb-1">Departure Time</th>
                                <th class="bg-blue-500 text-white font-bold text-xs py-1 px-2 rounded mb-1">Total Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Your table rows here -->
                        </tbody>
                    </table>
                    

                    
                    

                <!-- Button outside of the blue container -->
                <div class="flex justify-end pt-2">
                    <label for="" type="button" class="text-white bg-green-400 hover:bg-green-400 focus:ring-4 focus:ring-blue-300 font-medium rounded-3xl text-sm px-5 py-2 me-2 mb-2 focus:outline-none">
                        Approve
                    </label>
                    <input id="" type="file" class="hidden">
                </div>
            </div>
        </div>
    </div>
</div>
