<div class="p-2 sm:ml-60">
    <div class="p-1 xl:p-10">
        <div>
            <h1 class="ml-5 font-bold text-lg mb-4">
                <span class="text-orange-500 border-b-2 border-orange-500">SUBMITTED REQUIREMENTS</span>
            </h1>
        </div>
        
        <div class="overflow-x-hidden overflow-y-scroll max-h-72 bg-stone-100 items-left justify-left rounded-lg shadow-lg border shadow-gray-400">
            <div class="pt-2 pl-4 pr-4 text-xs mb-5">
                <!-- SAMPLE Student 1 -->
                <div class="mb-1 flex justify-between items-center">
                    <div class="text-white bg-teal-500 font-bold text-lg rounded-3xl py-2 px-5 mb-1">
                        202235682 Hong, Joshua M.
                    </div>
                    <button class="bg-red-500 hover:bg-gray-600 text-white rounded-3xl font-bold py-2 px-4 rounded mb-2" onclick="goBack()">X</button>
                </div>
                <h2 class="  border-b-4  border-orange-500 mb-2"></h2>
                <table class="w-full">
                    <tr>
                        <td class="font-bold pl-4 text-left border border-darkblue">RESUME</td>
                        <td class="text-center border border-darkblue">Joshua_Hong_Resume.pdf</td>
                    </tr>
                    <tr>
                        <td class="font-bold pl-4 text-left border border-darkblue">APPLICATION LETTER</td>
                        <td class="text-center border border-darkblue">Joshua_Hong_Application_Letter.docx</td>
                    </tr>
                    <tr>
                        <td class="font-bold pl-4 text-left border border-darkblue">ACCEPTANCE LETTER</td>
                        <td class="text-center border border-darkblue">Joshua_Hong_Acceptance_Letter.pdf</td>
                    </tr>
                    <tr>
                        <td class="font-bold pl-4 text-left border border-darkblue">ENDORSEMENT LETTER</td>
                        <td class="text-center border border-darkblue">Joshua_Hong_Endorsement_Letter.docx</td>
                    </tr>
                    <tr>
                        <td class="font-bold pl-4 text-left border border-darkblue">PARENT'S/GUARDIAN'S WAIVER</td>
                        <td class="text-center border border-darkblue">Joshua_Hong_Waiver.pdf</td>
                    </tr>
                    <tr>
                        <td class="font-bold pl-4 text-left border border-darkblue">VACCINATION CARD</td>
                        <td class="text-center border border-darkblue">Joshua_Hong_Vaccination_Card.jpg</td>
                    </tr>
                    <tr>
                        <td class="font-bold pl-4 text-left border border-darkblue">BARANGGAY CLEARANCE</td>
                        <td class="text-center border border-darkblue">Joshua_Hong_Clearance.pdf</td>
                    </tr>
                    <tr>
                        <td class="font-bold pl-4 text-left border border-darkblue">MEDICAL CERTIFICATE</td>
                        <td class="text-center border border-darkblue">Joshua_Hong_Medical_Certificate.pdf</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
