<!-- <app-navbar></app-navbar> -->
<div class="p-2 sm:ml-56 bg-white text-sky-950">
  <div class="p-1 xl:p-10">
    <div>
      <h1
        class="text-orange-500 mt-4 font-bold text-lg mb-1 flex justify-center"
      >
        About Us
      </h1>
      <div class="border-b-2 mt-5 w-auto ml-20 mr-20 border-gray-300"></div>
      <br />
    </div>

    <div class="text-orange-600 font-bold text-lg mb-1 flex justify-center">
      
  </div>
  
    <div class="text-center text-white flex justify-center">
      <img
        class="h-auto w-36 mt-1"
        src="../../../assets/logo.png"
        alt="Logo Image"
      />
    </div>
    <div class="text-center text-sky-950">
      <h1 class="font-semibold border-black-300 troke-slate-700 ">
        Practi<a class="text-orange-500 font-semibold">Pro</a>
      </h1>
      <p class="mt-8 font-semibold text-sky-950">Meet the Team</p>
      <p class="py-1 px-20 mb-1 me-2 text-lg justify-center text-sky-950">
        Welcome to PractiPro's Student Practicum Program! We're excited to
        introduce to you our dedicated team members who are commited to
        providing you with a rich and fulfilling learning experience. Let's meet
        the individuals who will be guiding you through this journey.
      </p>
      <br />
    </div>
    <div class="text-center text-white flex justify-center">
      <img
        class="h-auto w-48 rounded-full mt-11"
        src="../../../assets/denz.png"
        alt="Denzel Manz Perez"
      />
    </div>
    <div class="text-center text-sky-950 mt-5">
      <p class="font-semibold">Project Manager</p>
      <p>Denzel Manz Perez</p>
      <p class="mt-5 text-lg font-semibold text-sky-950">(Wireframe Designer)</p>
      <br />
    </div>
    <div class="grid grid-cols-3">
      <div class="flex justify-center">
        <img
          class="rounded-full h-auto w-32"
          src="../../../assets/sherwin.png"
          alt="Sherwin De Guzman"
        />
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-auto w-32"
          src="../../../assets/dei.png"
          alt="Deianne Jeinne Resurreccion"
        />
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-auto w-32"
          src="../../../assets/carmi.png"
          alt="Carmi Wilna Tongson"
        />
      </div>
    </div>
    <div class="grid grid-cols-3">
      <div class="text-center">
        <p class="font-semibold">Wireframe Member</p>
        <p>Sherwin De Guzman</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Wireframe Member</p>
        <p>Deianne Jeinne Resurreccion</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Wireframe Member</p>
        <p>Carmi Wilna Tongson</p>
      </div>
    </div>
    <br />
    <br />
    <div class="text-lg font-semibold text-center">
      <p>(Frontend Team Tasks)</p>
      <br />
    </div>
    <div class="flex justify-center">
      <img
        class="h-40 w-auto rounded-full"
        src="../../../assets/shwn.png"
        alt="Shawn Tyrone Rada"
      />
    </div>
    <div class="text-center">
      <p class="font-semibold mt-4">Lead Frontend</p>
      <p>Shawn Tyrone Rada</p>
      <br />
    </div>
    <div class="grid grid-cols-5">
      <div class="flex justify-center">
        <img
          class="rounded-full h-20 w-auto"
          src="../../../assets/sherwin.png"
          alt=""
/>
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-20 w-auto"
          src="../../../assets/carmi.png"
          alt=""
        />
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-20 w-auto"
          src="../../../assets/pajaro.png"
          alt=""
        />
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-20 w-auto"
          src="../../../assets/well.png"
          alt=""
        />
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-20 w-auto"
          src="../../../assets/dei.png"
          alt=""
        />
      </div>
    </div>

    <div class="grid grid-cols-5">
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>Sherwin De Guzman</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>Carmi Wilna Tongson</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>Roescen Abie Pajaro</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>Jimmuel Bernardino</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>Deianne Jeinne Resurreccion</p>
      </div>
    </div>
    <br />
    <div class="grid grid-cols-4">
      <div class="flex justify-center">
        <img
          class="rounded-full h-24 w-auto"
          src="../../../assets/nicholas.png"
          alt=""
        />
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-24 w-auto"
          src="../../../assets/rj.png"
          alt=""
        />
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-24 w-auto"
          src="../../../assets/chard.png"
          alt=""
        />
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-24 w-auto"
          src="../../../assets/jadev.png"
          alt=""
        />
      </div>
    </div>
    <div class="grid grid-cols-4">
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>Nicholas Milton Ching</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>RJ Verceles</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>Richard Biaculo</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>Jade Viñas</p>
      </div>
    </div>
    <br />
    <br />
    <div class="text-xl font-semibold text-center">
      <p>(Backend Team Tasks)</p>
    </div>
    <br />
    <br />
    <div class="grid grid-cols-3">
      <div class="flex justify-center">
        <img class="rounded-full h-40" src="../../../assets/denz.png" alt="" />
      </div>
      <div class="flex justify-center">
        <img class="rounded-full h-40" src="../../../assets/rj.png" alt="" />
      </div>
      <div class="flex justify-center">
        <img class="rounded-full h-40" src="../../../assets/shwn.png" alt="" />
      </div>
    </div>
    <div class="grid grid-cols-3">
      <div class="text-center">
        <p class="font-semibold">Backend Member</p>
        <p>Denzel Manz Perez</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Backend Member</p>
        <p>RJ Verceles</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Backend Member</p>
        <p>Shawn Tyrone Rada</p>
      </div>
    </div>
    <br />
    <br />
  </div>
</div>