<div class="relative">
  <div
    class="w-full right-0 absolute top-0 inset-0 bg-contain bg-center bg-no-repeat blur-md max-sm:hidden"
    style="background-image: url('../../../assets/logo.png')"
  ></div>
  <div class="relative z-10">
    <!-- background -->
    <div class="background"></div>
    <!-- content -->
    <div>
      <!-- header -->
      <div
        class="max-md:mb-4 w-full h-10 p-4 flex justify-items-start font-primary"
      >
        <a
          routerLink="/login"
          routerLinkActive="active"
          class="flex flex-row h-7 justify-items-center text-gray-900"
        >
          <svg
            class="w-6 h-6 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m15 19-7-7 7-7"
            />
          </svg>
          <span class="ml-2 text-center">Login</span>
        </a>
      </div>

      <!-- img and forms div -->
      <div
        class="flex relative -top-8 justify-center mx-auto h-screen items-center"
      >
        <div
          class="px-12 py-5 flex justify-center max-w-md max-sm:w-fit max-sm:mx-2 bg-white rounded-lg shadow-lg max-sm:mt-4 font-secondary border border-gray-300 max-sm:px-7"
        >
          <form [formGroup]="registerform" (ngSubmit)="proceedregistration()">
            <div class="mb-6 w-96 max-sm:w-auto">
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Password</label
              >
              <input
                type="password"
                id="password"
                class="bg-transparent border-0 border-b-2 border-gray-800 text-gray-900 text-sm focus:ring-transparent focus:border-0 focus:border-b-2 focus:border-black block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="(Please read label for password strength)"
                formControlName="password"
              />
              <p
                *ngIf="registerform.get('password')?.hasError('shortPassword')"
                class="text-xs text-red-500"
              >
                Password must be at least 8 characters long.
              </p>
              <p
                *ngIf="registerform.get('password')?.hasError('weakPassword')"
                class="text-xs text-red-500"
              >
                (Requires 1 uppercase letter, 1 lowercase letter, and 1 number)
              </p>
            </div>
            <div class="mb-6 w-96 max-sm:w-auto">
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Repeat Password</label
              >
              <input
                type="password"
                id="password"
                class="bg-transparent border-0 border-b-2 border-gray-800 text-gray-900 text-sm focus:ring-transparent focus:border-0 focus:border-b-2 focus:border-black block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 max-sm:truncate"
                placeholder="(Please read label for password strength)"
                formControlName="password"
              />
              <p
                *ngIf="registerform.get('password')?.hasError('shortPassword')"
                class="text-xs text-red-500"
              >
                Password must be at least 8 characters long.
              </p>
              <p
                *ngIf="registerform.get('password')?.hasError('weakPassword')"
                class="text-xs text-red-500"
              >
                (Requires 1 uppercase letter, 1 lowercase letter, and 1 number)
              </p>
            </div>

            <div class="flex justify-center">
              <button
                type="submit"
                [class.disabled]="!registerform.valid"
                class="text-white bg-blue-950 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
