<div class="p-4 sm:ml-56">
  <div class="p-3 rounded-md shadow-md">
    <h1 class="mb-2 text-orange-500 font-bold ml-1 font-primary">Admin List</h1>
    <div class="form-outline mt-3">
      <input
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        type="search"
        [(ngModel)]="searchtext"
        id="form1"
        class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search admins for any text..."
        aria-label="search"
      />
    </div>
    <div class="relative overflow-x-auto border border-gray-300 sm:rounded-lg">
      <table
        class="w-full text-sm text-center font-secondary rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3 font-primary">ID</th>
            <th scope="col" class="px-6 py-3 font-primary">Name</th>
            <th scope="col" class="px-6 py-3 font-primary">Email</th>
            <th scope="col" class="px-6 py-3 font-primary">isActive</th>
            <th scope="col" class="px-6 py-3 font-primary">Role</th>
            <th scope="col" class="px-6 py-3 font-primary">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="(userlist | filter : searchtext)?.length === 0">
            <td colspan="7" class="px-6 py-4 text-center text-red-500">
              No Data Found
            </td>
          </tr>
          <tr
            *ngFor="let user of userlist?.payload | filter : searchtext"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ user.id }}
            </th>
            <td class="px-6 py-4">{{ user.lastName }}, {{ user.firstName }}</td>
            <td class="px-6 py-4">
              {{ user.email }}
            </td>
            <td class="px-6 py-4">
              <p *ngIf="user.isActive === 1" class="text-green-600">ACTIVE</p>
              <p *ngIf="user.isActive === 0" class="text-orange-500">
                INACTIVE
              </p>
            </td>
            <td class="px-6 py-4">
              {{ user.role }}
            </td>
            <td class="px-6 py-4">
              <a
                (click)="Updateuser(user.id)"
                class="focus:outline-none text-white bg-blue-900 hover:bg-blue-800 cursor-pointer focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-blue-900"
                >Update</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
