<div class="flex justify-center">
    <div class="flex flex-col items-center bg-slate-100 shadow-lg rounded-lg w-[120vh] py-10">
        <div class="flex justify-center space-x-2">
            <form [formGroup]="searchForm" (ngSubmit)="searchForStudentID()">
                <input
                    class="w-72 max-sm:w-52 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    type="search" formControlName="studentId" placeholder="Enter Student ID..." aria-label="search" />
            </form>

            <button (click)="searchForStudentID()"
                class="bg-blue-900 font-primary text-white px-4 py-2 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300"
                type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="inline lucide lucide-user-round-search">
                    <circle cx="10" cy="8" r="5" />
                    <path d="M2 21a8 8 0 0 1 10.434-7.62" />
                    <circle cx="18" cy="18" r="3" />
                    <path d="m22 22-1.9-1.9" />
                </svg>
                <span class="max-sm:hidden">Search</span>
            </button>
        </div>




        <div *ngIf="!matchingStudent">
            <div>
                <h1 class="opacity-60 text-gray-800 text-center text-4xl font-primary mt-8">
                    Search for Students...
                </h1>
            </div>
        </div>


        <div *ngIf="matchingStudent" class="w-full mt-6">
            <h5 class="mb-3 text-xl mt-2 lg:text-2xl font-bold text-gray-900 font-secondary text-center">
                Matching Student:
            </h5>
            <div
                class="bg-slate-50 overflow-x-hidden w-full mx-auto max-w-lg h-auto rounded-lg shadow-md border border-gray-300">
                <div class="flex justify-center mt-10 mb-10">


                    <div class="avatar-container">
                        <img *ngIf="matchingStudent.avatar; else placeholder" [src]="matchingStudent.avatar"
                            class="image-container" alt="Avatar" />
                        <ng-template #placeholder>
                            <div class="image-container avatar-placeholder">

                            </div>
                        </ng-template>
                    </div>
                </div>

                <div *ngIf="matchingStudent" class="w-full bg-gray-50"></div>
                <div class="flow-root pb-6">
                    <ul role="list" class="flex flex-col flex-1 px-10">
                        <li class="mb-2">
                            <div class="flex items-center">
                                <div class="flex-1 min-w-0 ms-4">
                                    <p
                                        class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                                        Full Name:
                                    </p>
                                    <span class="text-sm font-normal lg:text-base font-secondary text-gray-900">{{
                                        matchingStudent.firstName }}
                                        {{ matchingStudent.lastName }}</span>
                                </div>
                            </div>
                        </li>
                        <li class="mb-2">
                            <div class="flex items-center">
                                <div class="flex-1 min-w-0 ms-4">
                                    <p
                                        class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                                        Student ID:
                                    </p>
                                    <span [ngClass]="{'text-red-500': !matchingStudent.studentId}"
                                        class="text-sm font-normal lg:text-base font-secondary">
                                        {{ matchingStudent.studentId || "Not set" }}
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="mb-2">
                            <div class="flex items-center">
                                <div class="flex-1 min-w-0 ms-4">
                                    <p
                                        class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                                        Email:
                                    </p>
                                    <span class="text-sm font-normal lg:text-base font-secondary text-gray-900">{{
                                        matchingStudent.email
                                        || "Not set" }}</span>
                                </div>
                            </div>
                        </li>
                        <li class="mb-2">
                            <div class="flex items-center">
                                <div class="flex-1 min-w-0 ms-4">
                                    <p
                                        class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                                        Program:
                                    </p>
                                    <span [ngClass]="{'text-red-500': !matchingStudent.program}"
                                        class="text-sm font-normal lg:text-base font-secondary">
                                        {{ matchingStudent.program || "Not set" }}
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="mb-2">
                            <div class="flex items-center">
                                <div class="flex-1 min-w-0 ms-4">
                                    <p
                                        class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                                        Year Level:
                                    </p>
                                    <span [ngClass]="{'text-red-500': !matchingStudent.year}"
                                        class="text-sm font-normal lg:text-base font-secondary">
                                        {{ matchingStudent.year || "Not set" }}
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="mb-2">
                            <div class="flex items-center">
                                <div class="flex-1 min-w-0 ms-4">
                                    <p
                                        class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                                        Block:
                                    </p>
                                    <span [ngClass]="{'text-red-500': !matchingStudent.block}"
                                        class="text-sm font-normal lg:text-base font-secondary">
                                        {{ matchingStudent.block || "No Block" }}
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>

                <div class="border-b border-gray-300"></div>


                <div *ngIf="!matchingStudent.block" class="flex justify-center pt-4 pb-4 px-4">
                    <button *ngIf="existingInvitations === 0" (click)="sendClassInvite(matchingStudent.id)"
                        type="button"
                        class="inline-flex items-center py-3 px-4 text-xs font-medium text-center text-white bg-blue-900 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="inline lucide lucide-send">
                            <path d="m22 2-7 20-4-9-9-4Z" />
                            <path d="M22 2 11 13" />
                        </svg>
                        <span class="font-primary text-sm mx-2">Send Invitation</span>
                    </button>

                    <button *ngIf="existingInvitations > 0" (click)="cancelClassInvite(matchingStudent.id)" type="
                            button"
                        class="inline-flex items-center py-3 px-4 text-xs font-medium text-center text-white opacity-50 hover:bg-red-500 hover:opacity-100 bg-slate-900 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-mail-check">
                            <path d="M22 13V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v12c0 1.1.9 2 2 2h9" />
                            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" />
                            <path d="m17 17 4 4" />
                            <path d="m21 17-4 4" />
                        </svg>
                        <span class="font-primary text-sm mx-2">Cancel Invitation</span>
                    </button>
                </div>
                <div *ngIf="matchingStudent.block" class="flex justify-center pt-4 pb-4 px-4">
                    <h1 class="font-primary text-gray-700">
                        This student is already in a block.
                    </h1>
                </div>
            </div>
        </div>
    </div>

</div>