/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    color: white;
    border-radius: 0.5rem;
}

.button:hover {
    background-color: #312e81;
}
/* "flex items-center p-2 text-white rounded-lg  hover:bg-hover-side" */
html, body { height: 100%; }

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }