<!-- <app-navbar></app-navbar> -->
<div class="p-2 sm:ml-56">
  <div class="p-1 xl:p-10">
    <div>
      <h1 class="indent-3 text-orange-500 ml-5 font-bold font-primary text-lg mb-1 ms-0">
        Profile
      </h1>
      <div class="border-b border-gray-300"></div>
      <br />
    </div>

    <div class="flex flex-col w-full bg-slate-50 rounded-lg border-2 border-slate-100 shadow-md max-lg:w-auto max-lg:flex-col justify-center mx-auto space-y-3">
      <!-- SUPERVISOR CONTAINER -->
      <div class="w-full p-3">


        <div class="mb-6 mt-2 border-b-4 rounded-b-sm border-blue-900 w-3/5 mx-auto">
          <h5 class="mb-1 text-2xl max-sm:text-xl font-bold text-gray-900 font-primary text-center">
            Supervisor Profile
          </h5>
        </div>
        
        
        <div class="grid grid-flow-row grid-cols-1">

          <!-- Supervisor Picture -->
        <div class="avatar-container mx-auto">
          <img *ngIf="user?.avatar; else placeholder" [src]="user?.avatar" class="image-container" alt="Avatar" />
          <ng-template #placeholder>
            <div class="image-container avatar-placeholder"></div>
          </ng-template>

          <label for="avatar-input-file">
            <div class="icon-wrapper">
              <mat-icon class="icon" fontIcon="edit"></mat-icon>
              <input type="file" id="avatar-input-file" accept="image/*" (change)="onAvatarChange($event)" />
            </div>
          </label>
        </div>

        <!-- Info Container -->
        <div class="flow-root mt-10">
          <ul role="list" class="flex flex-col flex-1 max-sm:px-5 px-10">
            <li class="mb-2">
              <div class="flex items-center">
                <div class="flex-1 min-w-0 ms-4">
                  <p
                    class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                    Full Name:
                  </p><span class="text-sm font-medium lg:text-base font-secondary text-gray-900">{{user?.firstName}}
                    {{user?.lastName}}</span>
                </div>
              </div>
            </li>
            <li class="mb-2">
              <div class="flex items-center">
                <div class="flex-1 min-w-0 ms-4">
                  <p
                    class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                    Position:
                  </p>
                  <span class="text-sm font-normal lg:text-base font-secondary">{{ user?.position || "Not set"}}</span>
                </div>
              </div>
            </li>
            <li class="mb-2">
              <div class="flex items-center">
                <div class="flex-1 min-w-0 ms-4">
                  <p
                    class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                    Contact Number:
                  </p>
                  <span class="text-sm font-normal lg:text-base font-secondary text-gray-900">{{ user?.phone || "Not set" }}</span>
                </div>
              </div>
            </li>
            <li class="mb-2">
              <div class="flex items-center">
                <div class="flex-1 min-w-0 ms-4">
                  <p
                    class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                    Email:
                  </p>
                  <span class="text-sm font-normal lg:text-base font-secondary">{{ user?.email || "Not set" }}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
        </div>

        <hr class="h-px w-[90%] mx-auto my-3 bg-gray-200 border-0 dark:bg-gray-700" />


      <!-- COMPANY CONTAINER -->
      <div class="w-full p-3 ">

        <div class="mb-6 border-b-4 rounded-b-sm border-blue-900 w-3/5 mx-auto">
          <h5 class="mb-1 text-2xl max-sm:text-xl font-bold text-gray-900 font-primary text-center">
            Company Profile
          </h5>
        </div>

        <div class="grid grid-flow-col grid-cols-2  max-md:grid-cols-1 max-md:grid-flow-row max-md:grid-rows-2">
          <!-- Company Logo -->
        <div class="avatar-container mx-auto">
          <img *ngIf="company?.logo; else placeholder" [src]="company?.logo" class="image-container" alt="Avatar" />
          <ng-template #placeholder>
            <div class="image-container avatar-placeholder"></div>
          </ng-template>

          <label for="logo-input-file">
            <div class="icon-wrapper">
              <mat-icon class="icon" fontIcon="edit"></mat-icon>
              <input type="file" id="logo-input-file" accept="image/*" (change)="onLogoChange($event)" />
            </div>
          </label>
        </div>

        <!-- Info Container -->
        <div class="flow-root mt-10">
          <ul role="list" class="flex flex-col flex-1 px-5">
            <li class="mb-2">
              <div class="flex items-center">
                <div class="flex-1 min-w-0 ms-4">
                  <p
                    class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                    Company Name:
                  </p><span class="text-sm font-medium lg:text-base font-secondary text-gray-900">{{company?.company_name}}</span>
                </div>
              </div>
            </li>
            <li class="mb-2">
              <div class="flex items-center">
                <div class="flex-1 min-w-0 ms-4">
                  <p
                    class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                    Company Address:
                  </p>
                  <span class="text-sm font-normal lg:text-base font-secondary">{{ company?.address || "Not set" }}</span>
                </div>
              </div>
            </li>
            <li class="mb-2">
              <div class="flex items-center">
                <div class="flex-1 min-w-0 ms-4">
                  <p
                    class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                    Students Handled:
                  </p>
                  <span class="text-sm font-normal lg:text-base font-secondary text-gray-900">{{ company?.students_handled || "None" }}</span>
                </div>
              </div>
            </li>
            <li class="mb-2">
              <div class="flex items-center">
                <div class="flex-1 min-w-0 ms-4">
                  <p
                    class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                    Supervisors:
                  </p>
                  <span class="text-sm font-normal lg:text-base font-secondary">{{ company?.supervisors || "None" }}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>

        </div>

      </div>

      <hr class="h-px w-[90%] mx-auto my-3 bg-gray-200 border-0 dark:bg-gray-700" />
        
        <div class="flex px-4 py-3 justify-end">
          <button (click)="editInfo(user?.id)" type="button"
            class="inline-flex items-center py-3 px-4 text-xs font-medium text-center text-white bg-blue-900 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
            <svg class="w-4 h-4 mr-1 text-gray-800 dark:text-white" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
              <path fill-rule="evenodd"
                d="M14 4.182A4.136 4.136 0 0 1 16.9 3c1.087 0 2.13.425 2.899 1.182A4.01 4.01 0 0 1 21 7.037c0 1.068-.43 2.092-1.194 2.849L18.5 11.214l-5.8-5.71 1.287-1.31.012-.012Zm-2.717 2.763L6.186 12.13l2.175 2.141 5.063-5.218-2.141-2.108Zm-6.25 6.886-1.98 5.849a.992.992 0 0 0 .245 1.026 1.03 1.03 0 0 0 1.043.242L10.282 19l-5.25-5.168Zm6.954 4.01 5.096-5.186-2.218-2.183-5.063 5.218 2.185 2.15Z"
                clip-rule="evenodd" />
            </svg>

            Edit
          </button>
        </div>

    </div>
  </div>
</div>
