<!-- <app-navbar></app-navbar> -->
<div class="p-2 sm:ml-56">
  <div class="p-1 xl:p-10">
    <div>
      <h1 class="indent-3 text-orange-500 ml-5 font-bold font-primary text-lg mb-1 ms-0">
        Profile
      </h1>
      <div class="border-b border-gray-300"></div>
      <br />
    </div>

    <div class="flex flex-col w-full bg-slate-50 rounded-lg border-2 border-slate-100 shadow-md max-lg:w-auto max-lg:flex-col justify-center mx-auto space-y-3">
      <!-- SUPERVISOR CONTAINER -->
      <div class="w-full p-3">
        
        <div class="grid grid-flow-row grid-cols-1">


          <!-- Supervisor Picture -->
        <div class="avatar-container mx-auto p-3">
          <img *ngIf="user?.avatar; else placeholder" [src]="user?.avatar" class="image-container" alt="Avatar" />
          <ng-template #placeholder>
            <div class="image-container avatar-placeholder"></div>
          </ng-template>

          <label for="avatar-input-file">
            <div class="icon-wrapper">
              <mat-icon class="icon" fontIcon="edit"></mat-icon>
              <input type="file" id="avatar-input-file" accept="image/*" (change)="onAvatarChange($event)" />
            </div>
          </label>
        </div>

        <hr class="h-px w-[90%] mx-auto my-3 bg-gray-200 border-0 dark:bg-gray-700" />

        <!-- bottom div -->

        <div class="grid grid-flow-col grid-cols-2 px-4 py-4 max-sm:grid-flow-row max-sm:grid-cols-1">

          
          <!-- Info Container -->
        <div class="flow-root mt-10 max-sm:mt-0 max-sm:mb-3">
          <ul role="list" class="flex flex-col flex-1 max-sm:px-5 px-3">
            <li class="mb-2">
              <div class="flex items-center">
                <div class="flex-1 min-w-0 ms-4">
                  <p
                    class="inline me-1 text-base lg:text-xl font-medium font-primary text-gray-900 truncate dark:text-white">
                    Full Name:
                  </p><span class="text-sm font-medium lg:text-lg font-secondary text-gray-900">{{user?.firstName}}
                    {{user?.lastName}}</span>
                </div>
              </div>
            </li>
            <li class="mb-2">
              <div class="flex items-center">
                <div class="flex-1 min-w-0 ms-4">
                  <p
                    class="inline me-1 text-base lg:text-xl font-medium font-primary text-gray-900 truncate dark:text-white">
                    Position:
                  </p>
                  <span class="text-sm font-normal lg:text-lg font-secondary">{{ user?.position || "Not set"}}</span>
                </div>
              </div>
            </li>
            <li class="mb-2">
              <div class="flex items-center">
                <div class="flex-1 min-w-0 ms-4">
                  <p
                    class="inline me-1 text-base lg:text-xl font-medium font-primary text-gray-900 truncate dark:text-white">
                    Contact Number:
                  </p>
                  <span class="text-sm font-normal lg:text-lg font-secondary text-gray-900">{{ user?.phone || "Not set" }}</span>
                </div>
              </div>
            </li>
            <li class="mb-2">
              <div class="flex items-center">
                <div class="flex-1 min-w-0 ms-4">
                  <p
                    class="inline me-1 text-base lg:text-xl font-medium font-primary text-gray-900 truncate dark:text-white">
                    Email:
                  </p>
                  <span class="text-sm font-normal lg:text-lg font-secondary">{{ user?.email || "Not set" }}</span>
                </div>
              </div>
            </li>
          </ul>

          
        </div>


        <!-- company div -->
        <div class="w-full px-5 py-3 border-slate-600">
  
          <div class="flex flex-row max-sm:flex-col">
            <!-- Company Logo -->
          <div class="avatar-container my-auto p-3 mx-auto">
            <img *ngIf="company?.logo; else placeholder" [src]="company?.logo" class="image-container-2" alt="Avatar" />
            <ng-template #placeholder>
              <div class="image-container avatar-placeholder"></div>
            </ng-template>
  
            <label for="logo-input-file">
              <div class="icon-wrapper">
                <mat-icon class="icon" fontIcon="edit"></mat-icon>
                <input type="file" id="logo-input-file" accept="image/*" (change)="onLogoChange($event)" />
              </div>
            </label>
          </div>
  
          <!-- Info Container -->
          <div class="flow-root my-auto w-[60%] max-sm:w-full">

            <div class="mb-3 border-b-4 rounded-b-sm border-blue-900 w-3/5 mx-auto max-sm:mt-3">
              <h5 class="mb-1 text-md max-sm:text-base font-bold text-gray-900 font-primary text-center">
                Company Profile
              </h5>
            </div>

            <ul role="list" class="grid grid-flow-row grid-cols-1 ml-6 max-sm:ml-0">
              <li class="mb-2">
                <div class="flex items-center">
                  <div class="flex-1 min-w-0 ms-4">
                    <p
                      class="inline me-1 text-base font-medium font-primary text-gray-900 truncate dark:text-white">
                      Company Name:
                    </p><span class="text-sm font-medium lg:text-base font-secondary text-gray-900">{{company?.company_name}}</span>
                  </div>
                </div>
              </li>
              <li class="mb-2">
                <div class="flex items-center">
                  <div class="flex-1 min-w-0 ms-4">
                    <p
                      class="inline me-1 text-base font-medium font-primary text-gray-900 truncate dark:text-white">
                      Company Address:
                    </p>
                    <span class="text-sm font-normal lg:text-base font-secondary">{{ company?.address || "Not set" }}</span>
                  </div>
                </div>
              </li>
              <li class="mb-2">
                <div class="flex items-center">
                  <div class="flex-1 min-w-0 ms-4">
                    <p
                      class="inline me-1 text-base font-medium font-primary text-gray-900 truncate dark:text-white">
                      Students Handled:
                    </p>
                    <span class="text-sm font-normal lg:text-base font-secondary text-gray-900">{{ company?.students_handled || "None" }}</span>
                  </div>
                </div>
              </li>
              <li class="mb-2">
                <div class="flex items-center">
                  <div class="flex-1 min-w-0 ms-4">
                    <p
                      class="inline me-1 text-base font-medium font-primary text-gray-900 truncate dark:text-white">
                      Supervisors:
                    </p>
                    <span class="text-sm font-normal lg:text-base font-secondary">{{ company?.supervisors || "None" }}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
  
          </div>
  
        </div>
  
        
      </div>

      <!-- old placement -->

        </div>
        
        

    </div>
  </div>
</div>
