<div class="p-3 rounded-md shadow-xl">
    <h1 class="mb-2 text-orange-500 font-bold ml-1">Weekly Accomplishment Reports Submitted:</h1>

    <div *ngIf="isLoading" class="flex justify-center">
        <p class="font-secondary text-2xl">Loading...</p>
    </div>
    <ng-container *ngIf="!isLoading">
        <ng-container *ngIf="studentSubmissions.length > 0 else noDataMessage">
            <table mat-table
                class="w-full text-sm text-center font-secondary rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>

                        <th scope="col" class="px-6 py-3">
                            Week:
                        </th>
                        <th scope="col" class="px-6 py-3">
                            File Name:
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Date Submitted:
                        </th>
                        <th scope="col" class="px-6 py-3">
                            File:
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Comments:
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Approval:
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Download:
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let submission of studentSubmissions"
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

                        <td class="px-6 py-4">
                            Week {{ submission.week }}
                        </td>
                        <td class="px-6 py-4">
                            {{ submission.file_name }}
                        </td>
                        <td class="px-6 py-4">
                            {{ submission.created_at }}
                        </td>
                        <td class="px-6 py-4">
                            <button (click)="viewFile(submission.id)"
                                class="text-nowrap text-white bg-blue-900 hover:bg-blue-800  focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">View
                                File</button>
                        </td>
                        <td class="px-6 py-4">
                            <button (click)="viewComments(submission.id, submission.file_name)"
                                class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:outline-non font-medium rounded-lg text-sm px-3 py-2.5 text-center">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white inline" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white"
                                    viewBox="0 0 24 24">
                                    <path fill-rule="evenodd"
                                        d="M3.559 4.544c.355-.35.834-.544 1.33-.544H19.11c.496 0 .975.194 1.33.544.356.35.559.829.559 1.331v9.25c0 .502-.203.981-.559 1.331-.355.35-.834.544-1.33.544H15.5l-2.7 3.6a1 1 0 0 1-1.6 0L8.5 17H4.889c-.496 0-.975-.194-1.33-.544A1.868 1.868 0 0 1 3 15.125v-9.25c0-.502.203-.981.559-1.331ZM7.556 7.5a1 1 0 1 0 0 2h8a1 1 0 0 0 0-2h-8Zm0 3.5a1 1 0 1 0 0 2H12a1 1 0 1 0 0-2H7.556Z"
                                        clip-rule="evenodd" />
                                </svg>
                                <span class="ml-1">{{submission.comments}}</span>
                            </button>
                        </td>
                        <td class="px-6 py-4">
                            <select [(ngModel)]="submission.supervisor_approval" (change)="onStatusChange(submission)">
                                <option value="Approved" class="text-green-500">Approved</option>
                                <option value="Unapprove" class="text-red-500">Unapproved</option>
                                <option value="Pending">Pending</option>
                            </select>
                        </td>
                        <td class="px-6 py-4">
                            <button (click)="downloadFile(submission.id, submission.file_name)"
                                class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-download">
                                    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                                    <polyline points="7 10 12 15 17 10" />
                                    <line x1="12" x2="12" y1="15" y2="3" />
                                </svg></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </ng-container>
    <ng-template #noDataMessage>
        <div class="flex justify-center">
            <img class="opacity-40 h-44 w-44" src="../../../../assets/empty1.png">
        </div>
        <div class="text-center">
            <h1 class="opacity-40 text-center text-lg font-primary">
                This student has not submitted any reports yet.
            </h1>
        </div>
    </ng-template>
</div>