<div class="p-5 rounded-md shadow-xl max-h-[90vh]">
    <div>
        <h1 class="text-orange-500 font-bold font-primary text-lg text-center mb-2">
            <svg class="w-6 h-6 -mt-1 text-orange inline dark:text-white" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                    d="M10 3v4a1 1 0 0 1-1 1H5m4 6 2 2 4-4m4-8v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z" />
            </svg>
            Final Report of '{{this.data.student.firstName}} {{this.data.student.lastName}}'
        </h1>
        <div class="border-b border-gray-300"></div>
        <br />
    </div>
    <div *ngIf="isLoading" class="flex justify-center">
        <p class="font-secondary text-2xl">Loading...</p>
    </div>
    <ng-container *ngIf="!isLoading">
        <ng-container *ngIf="submittedReport else noDataMessage">

            <div
                class="bg-slate-50 rounded-lg w-full p-5 mb-10 shadow-md font-secondary text-center border border-gray-200">
                <div>
                    <!-- <div class="border-b border-gray-300"></div> -->
                    <div class="flex justify-center max-sm:flex-col gap-8 max-sm:gap-4">
                        <div class="text-xl my-auto max-sm:text-base font-primary">
                            <span class="font-semibold">Date Submitted: </span>
                            {{this.submittedReport.created_at |date : "medium"}}
                        </div>

                        <div class="text-xl max-sm:text-base my-auto font-primary">
                            <select class="border-0 shadow-md text-center rounded-lg cursor-pointer"
                                [(ngModel)]="submittedReport.advisor_approval" [ngClass]="{
                                  'text-green-500': submittedReport.advisor_approval === 'Approved',
                                  'text-red-500': submittedReport.advisor_approval === 'Unapproved',
                                  'text-gray-500': submittedReport.advisor_approval === 'Pending'
                                }" (change)="onStatusChange(submittedReport)">
                                <option value="Approved" class="text-green-500">Approved</option>
                                <option value="Unapproved" class="text-red-500">Unapproved</option>
                                <option *ngIf="submittedReport.advisor_approval === 'Pending'" hidden value="Pending"
                                    class="text-gray-500">Pending</option>
                            </select>
                        </div>


                    </div>
                </div>
            </div>

            <div
                class="bg-slate-50 rounded-lg w-full capitalize p-4 font-secondary text-center shadow-md border border-gray-200">
                <form>
                    <!-- Question 1 -->
                    <div>
                        <p class="mb-2 text-base font-bold font-secondary text-gray-800 dark:text-gray-400">
                            1. Relate your OJT Experience with the following OJT Standards/Criteria:
                        </p>

                        <div class="relative shadow-md overflow-auto sm:rounded-lg border border-gray-300">
                            <table class="w-full text-sm text-left rtl:text-right text-gray-800 dark:text-gray-400">
                                <thead
                                    class="text-xs text-gray-700 uppercase text-center bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3 text-center">CRITERIA</th>
                                        <th scope="col" class="px-6 py-3">Answer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-white w-full border-b">
                                        <th scope="row"
                                            class="px-6 py-4 font-medium w-[70%] text-gray-900 whitespace-pre-wrap dark:text-white">
                                            1. My scope of work is directly related to the academic program I am
                                            pursuing.
                                        </th>
                                        <td [ngClass]="{'text-green-500':submittedReport.p1q1 === 'yes',
                        'text-red-500':submittedReport.p1q1 === 'no'}"
                                            class="px-6 py-4 text-center font-primary text-base">
                                            <span>{{ submittedReport.p1q1 }}</span>
                                        </td>
                                    </tr>
                                    <tr class="bg-white w-full border-b">
                                        <th scope="row"
                                            class="px-6 py-4 font-medium w-[70%] text-gray-900 whitespace-pre-wrap dark:text-white">
                                            2. I was given an orientation on the company organization and operations.
                                        </th>
                                        <td [ngClass]="{'text-green-500':submittedReport.p1q2 === 'yes',
                          'text-red-500':submittedReport.p1q2 === 'no'}"
                                            class="px-6 py-4 text-center font-primary text-base">
                                            <span>{{ submittedReport.p1q2 }}</span>
                                        </td>
                                    </tr>
                                    <tr class="bg-white w-full border-b">
                                        <th scope="row"
                                            class="px-6 py-4 font-medium w-[70%] text-gray-900 whitespace-pre-wrap dark:text-white">
                                            3. I was given a job description on my specific duties and reporting
                                            relationships.
                                        </th>
                                        <td [ngClass]="{'text-green-500':submittedReport.p1q3 === 'yes',
                          'text-red-500':submittedReport.p1q3 === 'no'}"
                                            class="px-6 py-4 text-center font-primary text-base">
                                            <span>{{ submittedReport.p1q3 }}</span>
                                        </td>
                                    </tr>
                                    <tr class="bg-white w-full border-b">
                                        <th scope="row"
                                            class="px-6 py-4 font-medium w-[70%] text-gray-900 whitespace-pre-wrap dark:text-white">
                                            4. My office/work hours were clear and convenient for me.
                                        </th>
                                        <td [ngClass]="{'text-green-500':submittedReport.p1q4 === 'yes',
                          'text-red-500':submittedReport.p1q4 === 'no'}"
                                            class="px-6 py-4 text-center font-primary text-base">
                                            <span>{{ submittedReport.p1q4 }}</span>
                                        </td>
                                    </tr>
                                    <tr class="bg-white w-full border-b">
                                        <th scope="row"
                                            class="px-6 py-4 font-medium w-[70%] text-gray-900 whitespace-pre-wrap dark:text-white">
                                            5. I felt safe and secure in my work location and environment.
                                        </th>
                                        <td [ngClass]="{'text-green-500':submittedReport.p1q5 === 'yes',
                          'text-red-500':submittedReport.p1q5 === 'no'}"
                                            class="px-6 py-4 text-center font-primary text-base">
                                            <span>{{ submittedReport.p1q5 }}</span>
                                        </td>
                                    </tr>
                                    <tr class="bg-white w-full border-b">
                                        <th scope="row"
                                            class="px-6 py-4 font-medium w-[70%] text-gray-900 whitespace-pre-wrap dark:text-white">
                                            6. I had no difficulty going to and from work.
                                        </th>
                                        <td [ngClass]="{'text-green-500':submittedReport.p1q6 === 'yes',
                          'text-red-500':submittedReport.p1q6 === 'no'}"
                                            class="px-6 py-4 text-center font-primary text-base">
                                            <span>{{ submittedReport.p1q6 }}</span>
                                        </td>
                                    </tr>
                                    <tr class="bg-white w-full border-b">
                                        <th scope="row"
                                            class="px-6 py-4 font-medium w-[70%] text-gray-900 whitespace-pre-wrap dark:text-white">
                                            7. The company provided me with allowance, stipend, or subsidy.<br>
                                            <span class="ms-5">Indicate if meal or cash. If cash, how much?</span>
                                        </th>
                                        <td class="px-6 py-4 text-center font-primary text-base">
                                            <span [ngClass]="{'text-green-500':submittedReport.p1q7 === 'yes',
                            'text-red-500':submittedReport.p1q7 === 'no'}">{{ submittedReport.p1q7 }}</span>
                                            <span> - {{ submittedReport.p1q7x1 }}</span>
                                            <span> - {{ submittedReport.p1q7x2 }}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Question 2 -->
                    <div>
                        <p class="mb-2 mt-5 text-base font-bold font-secondary text-gray-800 dark:text-gray-400">
                            2. List down your training objectives and indicate the extent you have achieved them.
                        </p>

                        <div class="relative overflow-auto shadow-md sm:rounded-lg border border-gray-300">
                            <table class="w-full text-sm text-left rtl:text-right text-gray-800 dark:text-gray-400">
                                <thead
                                    class="text-xs text-center text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3 w-[70%] text-center">Training Objectives</th>
                                        <th scope="col" class="px-6 py-3">Achievement</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-white w-full border-b">
                                        <th scope="row"
                                            class="px-6 w-full py-4 font-medium flex items-center text-gray-900 whitespace-pre-wrap dark:text-white">
                                            <span class="me-3">1.</span>
                                            <span>{{ submittedReport.p2q1 }}</span>
                                        </th>
                                        <td class="px-6 py-4 text-center font-primary text-base">
                                            <span>{{ submittedReport.p2q1x1 }}%</span>
                                        </td>
                                    </tr>
                                    <tr class="bg-white w-full border-b">
                                        <th scope="row"
                                            class="px-6 w-full py-4 font-medium flex items-center text-gray-900 whitespace-pre-wrap dark:text-white">
                                            <span class="me-3">2.</span>
                                            <span>{{ submittedReport.p2q2 }}</span>
                                        </th>
                                        <td class="px-6 py-4 text-center font-primary text-base">
                                            <span>{{ submittedReport.p2q2x1 }}%</span>
                                        </td>
                                    </tr>
                                    <tr class="bg-white w-full border-b">
                                        <th scope="row"
                                            class="px-6 w-full py-4 font-medium flex items-center text-gray-900 whitespace-pre-wrap dark:text-white">
                                            <span class="me-3">3.</span>
                                            <span>{{ submittedReport.p2q3 }}</span>
                                        </th>
                                        <td class="px-6 py-4 text-center font-primary text-base">
                                            <span>{{ submittedReport.p2q3x1 }}%</span>
                                        </td>
                                    </tr>
                                    <tr class="bg-white w-full border-b">
                                        <th scope="row"
                                            class="px-6 w-full py-4 font-medium flex items-center text-gray-900 whitespace-pre-wrap dark:text-white">
                                            <span class="me-3">4.</span>
                                            <span>{{ submittedReport.p2q4 }}</span>
                                        </th>
                                        <td class="px-6 py-4 text-center font-primary text-base">
                                            <span>{{ submittedReport.p2q4x1 }}%</span>
                                        </td>
                                    </tr>
                                    <tr class="bg-white w-full border-b">
                                        <th scope="row"
                                            class="px-6 w-full py-4 font-medium flex items-center text-gray-900 whitespace-pre-wrap dark:text-white">
                                            <span class="me-3">5.</span>
                                            <span>{{ submittedReport.p2q5 }}</span>
                                        </th>
                                        <td class="px-6 py-4 text-center font-primary text-base">
                                            <span>{{ submittedReport.p2q5x1 }}%</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Question 3 -->
                    <div class="mt-5 bg-white">
                        <p class="mb-2 text-base font-bold font-secondary text-gray-800 dark:text-gray-400">
                            3. Please rate your overall experience:
                        </p>
                        <div
                            class="relative overflow-auto shadow-md sm:rounded-lg border text-center font-primary text-base border-gray-300 p-4">
                            <span [ngClass]="{
                      'text-green-500': submittedReport.p3q1 === 'Excellent',
                      'text-lime-500': submittedReport.p3q1 === 'Very Good',
                      'text-yellow-500': submittedReport.p3q1 === 'Good',
                      'text-orange-500': submittedReport.p3q1 === 'Fair',
                      'text-red-500': submittedReport.p3q1 === 'Poor',
                  }">{{ submittedReport.p3q1 }}</span>
                        </div>
                    </div>

                    <!-- Question 4 -->
                    <div class="mt-5 bg-white normal-case">
                        <p class="mb-2 text-base font-bold font-secondary text-gray-800 dark:text-gray-400">
                            4. Please provide any additional comments or suggestions:
                        </p>
                        <div
                            class="relative overflow-auto shadow-md sm:rounded-lg border text-base text-left border-gray-300 p-6">
                            <span>{{ submittedReport.p4q1 }}</span>
                        </div>
                    </div>

                </form>
                <div class="w-full mt-7 flex justify-center">
                    <button type="submit" (click)="scrollToTop()"
                        class=" text-white py-2 px-10 text-lg bg-blue-900 hover:bg-blue-800 font-medium rounded-md">
                        Back to Top
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide inline -mt-0.5 lucide-arrow-up">
                            <path d="m5 12 7-7 7 7" />
                            <path d="M12 19V5" />
                        </svg>
                    </button>


                    <!-- IF DI KAYA, PALITAN NALANG YUNG BUTTON NG ISA PANG APPROVAL DROPDOWN-->

                    <!-- <div class="text-xl max-sm:text-base my-auto font-primary">
                        <select class="border-0 shadow-md text-center rounded-lg cursor-pointer"
                            [(ngModel)]="existingForm.advisor_approval" [ngClass]="{
                          'text-green-500': existingForm.advisor_approval === 'Approved',
                          'text-red-500': existingForm.advisor_approval === 'Unapproved',
                          'text-gray-500': existingForm.advisor_approval === 'Pending'
                        }" (change)="onStatusChange(existingForm)">
                            <option value="Approved" class="text-green-500">Approved</option>
                            <option value="Unapproved" class="text-red-500">Unapproved</option>
                            <option *ngIf="existingForm.advisor_approval === 'Pending'" hidden value="Pending"
                                class="text-gray-500">Pending</option>
                        </select>
                    </div> -->
                </div>
            </div>


        </ng-container>
    </ng-container>
    <ng-template #noDataMessage>
        <div class="flex justify-center">
            <img class="opacity-40 h-44 w-44" src="../../../../assets/empty1.png">
        </div>
        <div class="text-center">
            <h1 class="opacity-40 text-center text-lg font-primary">
                This student has not submitted any reports yet.
            </h1>
        </div>
    </ng-template>
</div>