<!-- <app-navbar></app-navbar> -->
<div class="p-2 sm:ml-60">
  <div class="pt-5 xl:p-10">
    <div>
      <h1 class="text-orange-500 ml-5 font-bold font-primary text-center text-xl mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6 inline text-orange-500">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
        </svg>
        Requirements
      </h1>
      <div class="border-b border-gray-300"></div>
      <br />
    </div>

    <p class="text-gray-800 max-sm:text-xs text-center font-secondary">
      Upload clear documents of all your <b>Requirement Documents</b> here. All
      documents should be in <b>Portable Document Format(.pdf).</b>
    </p>
    <br />

    <div class="bg-slate-50 rounded-lg w-auto p-5 shadow-md border border-gray-200">
      <mat-tab-group #tabGroup (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Resume">
          <form class=" rounded-lg w-auto flex justify-center py-48 max-sm:py-20">
            <input type="file" id="resumeFile" name="resumeFile" />
          </form>
        </mat-tab>
        <mat-tab label="Application Letter">
          <form class=" rounded-lg w-auto flex justify-center py-48 max-sm:py-20">
            <input type="file" id="applicationLetterFile" name="applicationLetterFile" />
          </form>
        </mat-tab>
        <mat-tab label="Acceptance Letter">
          <form class=" rounded-lg w-auto flex justify-center py-48 max-sm:py-20">
            <input type="file" id="acceptanceLetterFile" name="acceptanceLetterFile" />
          </form>
        </mat-tab>
        <mat-tab label="Endorsement Letter">
          <form class=" rounded-lg w-auto flex justify-center py-48 max-sm:py-20">
            <input type="file" id="endorsementLetterFile" name="endorsementLetterFile" />
          </form>
        </mat-tab>
        <mat-tab label="Parent's/Guardian's Waiver">
          <form class=" rounded-lg w-auto flex justify-center py-48 max-sm:py-20">
            <input type="file" id="pgWaiverFile" name="pgWaiverFile" />
          </form>
        </mat-tab>
        <mat-tab label="Vaccination Card">
          <form class=" rounded-lg w-auto flex justify-center py-48 max-sm:py-20">
            <input type="file" id="vaccinationCardFile" name="vaccinationCardFile" />
          </form>
        </mat-tab>
        <mat-tab label="Barangay Clearance">
          <form class=" rounded-lg w-auto flex justify-center py-48 max-sm:py-20">
            <input type="file" id="brgyClearanceFile" name="brgyClearanceFile" />
          </form>
        </mat-tab>
        <mat-tab label="Medical Certificate">
          <form class=" rounded-lg w-auto flex justify-center py-48 max-sm:py-20">
            <input type="file" id="medCertFile" name="medCertFile" />
          </form>
        </mat-tab>
      </mat-tab-group>
      <div class="flex justify-end items-center max-sm:text-xs pt-3">
        <button type="button" (click)="submitFiles()"
          class="text-white p-2 px-5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg focus:outline-none">
          Submit File
        </button>
      </div>
    </div>


    <div class="mt-20">
      <div class="border-b border-gray-300"></div>
      <h1 class="text-orange-500 ml-5 font-bold text-lg mb-1 mt-4 font-primary">
        Your Submitted Requirements:
      </h1>
      <br />
    </div>

    <div *ngIf="isLoading" class="grid w-full h-full py-6 rounded-md justify-center">
      <h1 class="text-4xl font-semibold font-primary text-slate-500" >
        Loading...
      </h1>
    </div>

    <div *ngIf="!isLoading">
      <div *ngIf="datalist.length > 0; else noDataMessage"
        class="relative overflow-x-auto shadow-md shadow-slate-200 border border-gray-200 sm:rounded-lg">
        <table mat-table
          class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400 font-secondary">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3 font-secondary">Requirement</th>
              <th scope="col" class="px-6 py-3 font-secondary">File name</th>
              <th scope="col" class="px-6 py-3 font-secondary">Date Uploaded</th>
              <th scope="col" class="px-6 py-3 font-secondary">Approval
                <svg class="w-5 h-5 inline -mt-0.5 text-gray-500 dark:text-white" aria-hidden="true"
                  matTooltip="This submission is to be approved by your ADVISOR." xmlns="http://www.w3.org/2000/svg"
                  width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9.529 9.988a2.502 2.502 0 1 1 5 .191A2.441 2.441 0 0 1 12 12.582V14m-.01 3.008H12M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
              </th>
              <th scope="col" class="px-6 py-3 font-secondary">Comments</th>
              <th scope="col" class="px-6 py-3 font-secondary">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of datalist | paginate: { itemsPerPage: 5, currentPage: p  }" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4">
                {{ data.submission_name }}
              </td>
              <td class="px-6 py-4">
                {{ data.file_name }}
              </td>
              <td class="px-6 py-4">
                {{ data.created_at }}
              </td>
              <td class="px-6 py-4">
                <p class="rounded-lg text-base px-4 py-2" [ngClass]="{
                    'text-red-500': data.advisor_approval === 'Unapproved',
                    'text-green-500': data.advisor_approval === 'Approved'
                  }">{{data.advisor_approval}}</p>
              </td>
              <td class="px-6 py-4">
                <button (click)="viewComments(data.id, data.file_name)"
                    class="text-white inline-flex items-center bg-blue-900 hover:bg-blue-800 focus:outline-non font-medium rounded-lg text-sm px-3 py-2.5 text-center">
                    <svg class="w-5 h-5 text-gray-800 dark:text-white inline" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white"
                        viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                            d="M3.559 4.544c.355-.35.834-.544 1.33-.544H19.11c.496 0 .975.194 1.33.544.356.35.559.829.559 1.331v9.25c0 .502-.203.981-.559 1.331-.355.35-.834.544-1.33.544H15.5l-2.7 3.6a1 1 0 0 1-1.6 0L8.5 17H4.889c-.496 0-.975-.194-1.33-.544A1.868 1.868 0 0 1 3 15.125v-9.25c0-.502.203-.981.559-1.331ZM7.556 7.5a1 1 0 1 0 0 2h8a1 1 0 0 0 0-2h-8Zm0 3.5a1 1 0 1 0 0 2H12a1 1 0 1 0 0-2H7.556Z"
                            clip-rule="evenodd" />
                    </svg>
                    <span class="ml-1">{{data.comments}}</span>
                </button>
            </td>
              <td class="px-6 py-4">
                <button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="4"
                      d="M12 6h.01M12 12h.01M12 18h.01" />
                  </svg>


                </button>
                <mat-menu #menu="matMenu">
                  <li class="space-x-3 px-3">
                    <button (click)="downloadFile(data.id, data.file_name)"
                      class="text-white inline-flex items-center bg-green-500 hover:bg-green-800 focus:outline-non font-medium rounded-full text-sm px-3 py-2.5 text-center"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-download">
                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                        <polyline points="7 10 12 15 17 10" />
                        <line x1="12" x2="12" y1="15" y2="3" />
                      </svg></button>
                    <button
                      class="text-white inline-flex items-center bg-red-500 hover:bg-red-800 focus:outline-non font-medium rounded-full text-sm px-3 py-2.5 text-center"
                      (click)="deleteSubmission(data.id)"><svg class="w-6 h-6 text-gray-800 dark:text-white"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white"
                        viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                          d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                          clip-rule="evenodd" />
                      </svg>
                    </button>

                  </li>
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="w-full mt-3 flex justify-center">
          <!-- pagination control -->
          <pagination-controls [responsive]="true" class="my-pagination"
            (pageChange)="p = $event"></pagination-controls>
        </div>

      </div>
    </div>
  </div>

  <ng-template #noDataMessage>
    <div class="flex justify-center">
      <img class="opacity-40 h-44 w-44" src="../../../../assets/empty1.png">
    </div>
    <div class="text-center">
      <h1 class="opacity-40 text-center text-lg font-primary">
        You have not submitted any requirements yet.
      </h1>
    </div>
  </ng-template>
</div>