

<!-- SUBMISSION ACCOMPLISHMENT REQUIREMENTS -->
<div class="p-2 sm:ml-60">
    <div class="p-1 xl:p-10 ">
        <div>
            <h1 class="ml-5 font-bold text-lg mb-4">
                <span class="text-orange-500 border-b-2 border-orange-500">SUBMISSION ACCOMPLISHMENT REQUIREMENTS</span>
            </h1>
        </div>
        
        
        <div class="overflow-x-hidden overflow-y-scroll max-h-72 text-center bg-purple-300 items-center justify-center rounded-lg shadow-lg border border-gray-800 shadow-gray-400">
            <div class="pt-2 pl-4 pr-4 text-xs mb-3">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th class="text-center font-bold w-1/4 border-b-4 rounded-t-md border-orange-500">ID Number</th>
                            <th class="text-center font-bold w-1/4 border-b-4 rounded-t-md border-orange-500">
                                <span style="color: black;">Student Name</span>
                                <span style="color: gray;">(LN, FN)</span>
                            </th>                            
                            <th class="text-center font-bold w-1/4 border-b-4 rounded-t-md border-orange-500">Submitted Files</th>
                            <th class="text-center font-bold w-1/4 border-b-4 rounded-t-md border-orange-500">Submitted Date</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- SAMPLES -->
                        <tr>
                            <td class="pl-4 text-left border-b">2022*****</td>
                            <td class="text-center border-b">SAMPLE</td>
                            <td class="text-center border-b">Resume.pdf</td>
                            <td class="text-center border-b">2024-04-28</td>
                        </tr>

                        <tr>
                            <td class="pl-4 text-left border-b">2022****</td>
                            <td class="text-center border-b">SAMPLE</td>
                            <td class="text-center border-b">AppLetter.docx</td>
                            <td class="text-center border-b">2024-04-27</td>
                        </tr>
                        <!-- Repeat for other requirements -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
