<div class="p-2 sm:ml-60">
  <div class="p-1 xl:p-10">
    <div>
      <h1 class="text-orange-500 ml-5 font-bold font-primary text-lg mb-1 ms-0">
        Dashboard
      </h1>
      <div class="border-b border-gray-300"></div>
      <br />
    </div>

    <!-- REGISTRATION STATUS -->
    <div *ngIf="registrationStatus === 0"
      class="overflow-x-hidden text-center bg-slate-50 h-auto items-center justify-center rounded-lg shadow-md border border-gray-200">
      <div class="mb-auto mt-3 inline-block border-b-8 rounded-b-md border-orange-500 w-4/5">
        <h1 class="font-primary font-bold text-lg">REGISTRATION STATUS</h1>
      </div>
      <div class="pt-2 pl-4 pr-4 text-xs mb-3">
        <table class="w-full">
          <thead>
            <tr>
              <th class="text-center font-bold border border-darkblue w-1/2 font-primary text-base">TO DO</th>
              <th class="text-center font-bold border border-darkblue w-1/2 font-primary text-base">STATUS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="pl-4 text-left border border-darkblue font-secondary text-sm">RESUME</td>
              <td class="text-center border border-darkblue font-secondary text-sm">
                <p *ngIf="studentRequirements.length > 0 && studentRequirements[0].resume" class="text-green-600">
                  CLEARED</p>
                <p *ngIf="studentRequirements.length > 0 && !studentRequirements[0].resume" class="text-orange-500">NOT
                  CLEARED</p>
              </td>
            </tr>
            <tr>
              <td class="pl-4 text-left border border-darkblue font-secondary text-sm">
                APPLICATION LETTER
              </td>
              <td class="text-center border border-darkblue font-secondary text-sm">
                <p *ngIf="
                    studentRequirements.length > 0 &&
                    studentRequirements[0].application_letter
                  " class="text-green-600">
                  CLEARED
                </p>
                <p *ngIf="
                    studentRequirements.length > 0 &&
                    !studentRequirements[0].application_letter
                  " class="text-orange-500">
                  NOT CLEARED
                </p>
              </td>
            </tr>
            <tr>
              <td class="pl-4 text-left border border-darkblue font-secondary text-sm">
                ACCEPTANCE LETTER
              </td>
              <td class="text-center border border-darkblue font-secondary text-sm">
                <p *ngIf="
                    studentRequirements.length > 0 &&
                    studentRequirements[0].acceptance_letter
                  " class="text-green-600">
                  CLEARED
                </p>
                <p *ngIf="
                    studentRequirements.length > 0 &&
                    !studentRequirements[0].acceptance_letter
                  " class="text-orange-500">
                  NOT CLEARED
                </p>
              </td>
            </tr>
            <tr>
              <td class="pl-4 text-left border border-darkblue font-secondary text-sm">
                ENDORSEMENT LETTER
              </td>
              <td class="text-center border border-darkblue font-secondary text-sm">
                <p *ngIf="
                    studentRequirements.length > 0 &&
                    studentRequirements[0].endorsement_letter
                  " class="text-green-600">
                  CLEARED
                </p>
                <p *ngIf="
                    studentRequirements.length > 0 &&
                    !studentRequirements[0].endorsement_letter
                  " class="text-orange-500">
                  NOT CLEARED
                </p>
              </td>
            </tr>
            <tr>
              <td class="pl-4 text-left border border-darkblue font-secondary text-sm">
                PARENT'S/GUARDIAN'S WAIVER
              </td>
              <td class="text-center border border-darkblue font-secondary text-sm">
                <p *ngIf="
                    studentRequirements.length > 0 &&
                    studentRequirements[0].guardians_waiver
                  " class="text-green-600">
                  CLEARED
                </p>
                <p *ngIf="
                    studentRequirements.length > 0 &&
                    !studentRequirements[0].guardians_waiver
                  " class="text-orange-500">
                  NOT CLEARED
                </p>
              </td>
            </tr>
            <tr>
              <td class="pl-4 text-left border border-darkblue font-secondary text-sm">
                VACCINATION CARD
              </td>
              <td class="text-center border border-darkblue font-secondary text-sm">
                <p *ngIf="
                    studentRequirements.length > 0 &&
                    studentRequirements[0].vaccination_card
                  " class="text-green-600">
                  CLEARED
                </p>
                <p *ngIf="
                    studentRequirements.length > 0 &&
                    !studentRequirements[0].vaccination_card
                  " class="text-orange-500">
                  NOT CLEARED
                </p>
              </td>
            </tr>
            <tr>
              <td class="pl-4 text-left border border-darkblue font-secondary text-sm">
                BARANGGAY CLEARANCE
              </td>
              <td class="text-center border border-darkblue font-secondary text-sm">
                <p *ngIf="
                    studentRequirements.length > 0 &&
                    studentRequirements[0].barangay_clearance
                  " class="text-green-600">
                  CLEARED
                </p>
                <p *ngIf="
                    studentRequirements.length > 0 &&
                    !studentRequirements[0].barangay_clearance
                  " class="text-orange-500">
                  NOT CLEARED
                </p>
              </td>
            </tr>
            <tr>
              <td class="pl-4 text-left border border-darkblue font-secondary text-sm">
                MEDICAL CERTIFICATE
              </td>
              <td class="text-center border border-darkblue font-secondary text-sm">
                <p *ngIf="
                    studentRequirements.length > 0 &&
                    studentRequirements[0].medical_certificate
                  " class="text-green-600">
                  CLEARED
                </p>
                <p *ngIf="
                    studentRequirements.length > 0 &&
                    !studentRequirements[0].medical_certificate
                  " class="text-orange-500">
                  NOT CLEARED
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <p class="mt-4 text-xm text-red-500">
          ** If your status was marked as "NOT CLEARED", you need to proceed to
          submit the specified document for your registration status. You will not be
          able to proceed with the practicum process and evaluation until you have been cleared
          in all <b class="text-red-700">OJT</b> requirements.
        </p>
      </div>
    </div>




    <!-- IF STUDENT IS CLEARED IN REGISTRATION STATUS -->
    <div *ngIf="registrationStatus === 1"
      class="overflow-x-hidden text-center bg-slate-100 h-auto items-center justify-center rounded-lg shadow-md border border-gray-200">
      <div class="mb-auto mt-3 inline-block border-b-8 rounded-b-md border-blue-900 w-4/5">
        <h1 class="font-primary font-bold text-lg">PRACTICUM PROGRESS</h1>
      </div>

      <div class="flex flex-col md:flex-row justify-evenly">


        <div class="flex flex-col justify-center p-10 m-5 shadow-md hover:shadow-xl rounded-xl bg-white">
          <h1 class="font-primary font-bold text-blue-800 text-5xl">{{student.TotalHoursWorked || '0.00'}}<span
              class="text-sm">hrs</span></h1>
          <h2 class="font-primary text-sm">Total Training Hours Accumulated</h2>
        </div>



        <div class="flex flex-col justify-center p-10 m-5 shadow-md hover:shadow-xl  rounded-xl bg-white">
          <h1 class="font-primary font-bold text-blue-800 text-5xl">{{student.SeminarHours}}<span
              class="text-sm">hrs</span></h1>
          <h2 class="font-primary text-sm">Total Seminar Hours Accumulated</h2>
        </div>
      </div>


      <!-- IF STUDENT IS HIRED -->
      <div *ngIf="student.company_id" class=" gap-4 pt-2 pl-4 pr-4 text-xs mb-3">



        <div class="grid grid-cols-5 max-sm:grid-cols-1 gap-4 pt-2 pl-4 pr-4 text-xs mb-3">

          <div class="col-span-3">
            <!-- First column content here -->
            <div *ngIf="studentjob" class="w-full bg-white shadow-md p-3">
              <div>
                <h1 class="font-primary font-bold text-lg">{{studentjob.job_title || "Unassigned"}}</h1>
              </div>

              <p class="font-primary">Job Title</p>
              <hr class="h-px w-[90%] mx-auto my-3 bg-gray-200 border-0 dark:bg-gray-700" />

              <div class="flex justify-start text-left">
                <ul role="list" class="">
                  <li class="mb-2">
                    <div class="flex items-center">
                      <div class="flex-1 min-w-0 ms-4">
                        <p
                          class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                          Job Description:
                        </p><span
                          class="text-sm font-medium lg:text-base font-secondary text-gray-900">{{studentjob.job_description}}</span>
                      </div>
                    </div>
                  </li>
                  <li class="mb-2">
                    <div class="flex items-center">
                      <div class="flex-1 min-w-0 ms-4">
                        <p
                          class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                          Start Date:
                        </p>
                        <span class="text-sm font-normal lg:text-base font-secondary">{{
                          studentjob.start_date || "Sample Start Date"}}</span>
                      </div>
                    </div>
                  </li>
                  <li class="mb-2">
                    <div class="flex items-center">
                      <div class="flex-1 min-w-0 ms-4">
                        <p
                          class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                          End Date:
                        </p>
                        <span class="text-sm font-normal lg:text-base font-secondary">{{
                          studentjob.end_date || "Sample End Date"}}</span>
                      </div>
                    </div>
                  </li>
                  <li class="mb-2">
                    <div class="flex items-center">
                      <div class="flex-1 min-w-0 ms-4">
                        <p
                          class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                          Assigned by:
                        </p>
                        <span class="text-sm font-normal lg:text-base font-secondary">{{
                          studentjob.sfirstName}} {{ studentjob.slastName}}</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div *ngIf="!studentjob" class="w-full bg-white shadow-md p-3">
              <div>
                <div class="flex justify-center">
                  <img class="h-48 opacity-50" src="../../../../../assets/empty1.png">
                </div>
                <h1 class="font-secondary text-lg text-gray-800 my-2">This student has yet to be assigned a job.</h1>
              </div>
            </div>

          </div>

          <div class="col-span-2">
            <!-- Second column content here -->
            <table class="w-full shadow-md bg-white">
              <tbody>
                <tr>
                  <td class="px-4 py-2 text-left border  font-secondary text-sm">Monday</td>
                  <td class="text-center border px-4 py-2 font-secondary text-sm">8:00</td>
                  <td class="text-center border px-4 py-2 font-secondary text-sm">4:00</td>
                </tr>
                <tr>
                  <td class="px-4 py-2 text-left border  font-secondary text-sm">Tuesday</td>
                  <td class="text-center border px-4 py-2 font-secondary text-sm">8:00</td>
                  <td class="text-center border px-4 py-2 font-secondary text-sm">4:00</td>
                </tr>
                <tr>
                  <td class="px-4 py-2 text-left border  font-secondary text-sm">Wednesday</td>
                  <td class="text-center border px-4 py-2 font-secondary text-sm">8:00</td>
                  <td class="text-center border px-4 py-2 font-secondary text-sm">4:00</td>
                </tr>
                <tr>
                  <td class="px-4 py-2 text-left border  font-secondary text-sm">Thursday</td>
                  <td class="text-center border px-4 py-2 font-secondary text-sm">8:00</td>
                  <td class="text-center border px-4 py-2 font-secondary text-sm">4:00</td>
                </tr>
                <tr>
                  <td class="px-4 py-2 text-left border  font-secondary text-sm">Friday</td>
                  <td class="text-center border px-4 py-2 font-secondary text-sm">8:00</td>
                  <td class="text-center border px-4 py-2 font-secondary text-sm">4:00</td>
                </tr>
                <tr>
                  <td class="px-4 py-2 text-left border  font-secondary text-sm">Saturday</td>
                  <td class="text-center border px-4 py-2 font-secondary text-sm">8:00</td>
                  <td class="text-center border px-4 py-2 font-secondary text-sm">4:00</td>
                </tr>
                <tr>
                  <td class="px-4 py-2 text-left border  font-secondary text-sm">Sunday</td>
                  <td class="text-center border px-4 py-2 font-secondary text-sm">8:00</td>
                  <td class="text-center border px-4 py-2 font-secondary text-sm">4:00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>





      </div>

      <hr class="h-px w-[90%] mx-auto my-3 bg-gray-300 border-0 dark:bg-gray-700" />

      <!-- IF STUDENT IS NOT HIRED -->
      <div *ngIf="!student.company_id" class=" gap-4 pt-2 pl-4 pr-4 text-xs mb-3">
        <!-- First column content here -->
        <div class="w-full bg-white shadow-md p-3">


          <div *ngIf="hiringRequests.length === 0">
            <div class="flex justify-center">
              <img class="h-48 opacity-80" src="../../../../assets/empty1.png">
            </div>
            <h1 class="font-primary opacity-80 text-lg">You currently do not have an OJT site.</h1>
          </div>

          <div *ngIf="hiringRequests.length > 0" (click)="viewHiringRequests(student.id)" class="cursor-pointer">
            <div class="flex justify-center">
              <img class="h-40 mb-3 opacity-80" src="../../../../assets/mail1.png">
            </div>
            <h1 class="font-primary opacity-90 mb-3 text-lg">You have pending Company Invitations!
              ({{hiringRequests.length}})</h1>
          </div>

        </div>
      </div>






    </div>




  </div>
</div>