<div class="p-3 rounded-md shadow-xl">
    <h1 class="mb-2 text-orange-500 font-bold ml-1">Classes held by: {{currentuser?.first_name}} {{currentuser?.last_name}}</h1>
    <div *ngIf="datalist?.length > 0 else noDataMessage"
        class="overflow-auto max-h-96 shadow-md shadow-slate-400 sm:rounded-lg">
        <table mat-table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>

                    <th scope="col" class="px-6 py-3">
                        Block Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Course
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Year Level
                    </th>  
                    <th scope="col" class="px-6 py-3">
                        Department
                    </th>  
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>                   
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of datalist"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

                    <td class="px-6 py-4">
                        {{ data.block_name }}
                    </td>
                    <td class="px-6 py-4">
                        {{ data.course }}
                    </td>
                    <td class="px-6 py-4">
                        {{ data.year_level| ordinal }} Year
                    </td>
                    <td class="px-6 py-4">
                        {{ data.department }}
                    </td>
                    <td class="px-6 py-4">
                        <button (click)="selectClass(data.block_name)"
                        class="text-white inline-flex items-center bg-blue-900 hover:bg-blue-800  focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Select Class</button>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #noDataMessage>
        <h1 class="text-center">This coordinator currently has no classes being held.</h1>
    </ng-template>
</div>