<app-navbar></app-navbar>
<div class="p-2 sm:ml-56 bg-slate-900 text-white">
  <div class="p-1 xl:p-10">
    <div>
      <h1
        class="text-orange-600 ml-5 font-bold text-lg mb-1 flex justify-center"
      >
        About Us
      </h1>
      <div class="border-b w-auto ml-20 mr-20 border-gray-300"></div>
      <br />
    </div>

    <div class="text-center text-white">
      <h1 class="text-xl font-bold pb-3">Our Mission</h1>
      <p>Ang mission po namin ay ito :D</p>
      <img class="mr-auto ml-auto h-24 w-auto" src="" alt="Mission Image" />
    </div>
    <div class="text-center text-white">
      <h1 class="text-xl font-bold pb-3">Our Vision</h1>
      <p>Ang vision po namin ay ito :D</p>
      <img class="mr-auto ml-auto h-24 w-auto" src="" alt="Vision Image" />
    </div>
    <div class="text-center text-white flex justify-center">
      <img
        class="h-auto w-36"
        src="../../../assets/logo.png"
        alt="Logo Image"
      />
    </div>
    <div class="text-center text-white">
      <h1 class="text-semibold">
        Practi<a class="text-orange-700 font-bold">Pro</a>
      </h1>
      <p class="mt-2 text-semibold">Meet the team</p>
      <p class="ml-10 mr-8 text-xs">
        Welcome to PractiPro's Student Practicum Program! We're excited to
        introduce to you our dedicated team members who are commited to
        providing you with a rich and fulfilling learning experience. Let's meet
        the individuals who will be guiding you through this journey.
      </p>
      <br />
    </div>
    <div class="text-center text-white flex justify-center">
      <img
        class="h-auto w-48 rounded-full"
        src="../../../assets/denz.png"
        alt="Denzel Manz Perez"
      />
    </div>
    <div class="text-center text-white">
      <p class="font-bold">Project Manager</p>
      <p>Denzel Manz Perez</p>
      <p class="mt-5 text-lg font-bold">(Wireframe Designer)</p>
      <br />
    </div>
    <div class="grid grid-cols-3">
      <div class="flex justify-center">
        <img
          class="rounded-full h-auto w-32"
          src="../../../assets/sherwin.png"
          alt="Sherwin De Guzman"
        />
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-auto w-32"
          src="../../../assets/dei.jpg"
          alt="Deianne Jeinne Resurreccion"
        />
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-auto w-32"
          src="../../../assets/carmi.png"
          alt="Carmi Wilna Tongson"
        />
      </div>
    </div>
    <div class="grid grid-cols-3">
      <div class="text-center">
        <p class="font-semibold">Wireframe Member</p>
        <p>Sherwin De Guzman</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Wireframe Member</p>
        <p>Deianne Jeinne Resurreccion</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Wireframe Member</p>
        <p>Carmi Wilna Tongson</p>
      </div>
    </div>
    <br />
    <br />
    <div class="text-lg font-bold text-center">
      <p>(Frontend Team Tasks)</p>
      <br />
    </div>
    <div class="flex justify-center">
      <img
        class="h-40 w-auto rounded-full"
        src="../../../assets/denz.png"
        alt="Shawn Tyrone Rada"
      />
    </div>
    <div class="text-center">
      <p class="font-bold">Lead Frontend</p>
      <p>Shawn Tyrone Rada</p>
      <br />
    </div>
    <div class="grid grid-cols-5">
      <div class="flex justify-center">
        <img
          class="rounded-full h-20 w-auto"
          src="../../../assets/sherwin.png"
          alt=""
        />
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-20 w-auto"
          src="../../../assets/carmi.png"
          alt=""
        />
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-20 w-auto"
          src="../../../assets/pajaro.png"
          alt=""
        />
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-20 w-auto"
          src="../../../assets/well.jpg"
          alt=""
        />
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-20 w-auto"
          src="../../../assets/dei.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="grid grid-cols-5">
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>Sherwin De Guzman</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>Carmi Wilna Tongson</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>Roescen Abie Pajaro</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>Jimmuel Bernardino</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>Deianne Jeinne Resurreccion</p>
      </div>
    </div>
    <br />
    <div class="grid grid-cols-4">
      <div class="flex justify-center">
        <img
          class="rounded-full h-24 w-auto"
          src="../../../assets/dei.jpg"
          alt=""
        />
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-24 w-auto"
          src="../../../assets/rj.jpg"
          alt=""
        />
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-24 w-auto"
          src="../../../assets/chard.jpg"
          alt=""
        />
      </div>
      <div class="flex justify-center">
        <img
          class="rounded-full h-24 w-auto"
          src="../../../assets/dei.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="grid grid-cols-4">
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>Nicholas Milton Ching</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>RJ Verceles</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>Richard Biaculo</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Frontend Member</p>
        <p>Jade Viñas</p>
      </div>
    </div>
    <br />
    <br />
    <div class="text-xl font-bold text-center">
      <p>(Backend Team Tasks)</p>
    </div>
    <br />
    <br />
    <div class="grid grid-cols-3">
      <div class="flex justify-center">
        <img class="rounded-full h-40" src="../../../assets/denz.png" alt="" />
      </div>
      <div class="flex justify-center">
        <img class="rounded-full h-40" src="../../../assets/rj.jpg" alt="" />
      </div>
      <div class="flex justify-center">
        <img class="rounded-full h-40" src="../../../assets/denz.png" alt="" />
      </div>
    </div>
    <div class="grid grid-cols-3">
      <div class="text-center">
        <p class="font-semibold">Backend Member</p>
        <p>Denzel Manz Perez</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Backend Member</p>
        <p>RJ Verceles</p>
      </div>
      <div class="text-center">
        <p class="font-semibold">Backend Member</p>
        <p>Shawn Tyrone Rada</p>
      </div>
    </div>
    <br />
    <br />
  </div>
</div>
