<div class="p-2 sm:ml-60">
  <div class="pt-5 xl:p-10">
    <div>
      <h1 class="text-orange-500 ml-5 font-bold font-primary text-center text-xl mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6 text-orange-500 inline">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
        </svg>
        Student Registration Status
      </h1>
      <div class="border-b border-gray-300"></div>
      <br />
    </div>


    <div *ngIf="currentBlock; else noBlockMessage">
      <div class="form-outline">
        <input [(ngModel)]="searchtext" id="form1"
          class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          type="search" placeholder="Search for students in {{currentBlock}}..." aria-label="search" />
      </div>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div *ngIf="isLoading" class="flex justify-center">
          <p class="font-secondary text-2xl">Loading...</p>
        </div>
        <ng-container *ngIf="!isLoading">
          <ng-container *ngIf="studentlist?.length; else noDataMessage">
            <table mat-table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                  <th scope="col" class="px-6 py-3 text-center font-primary">
                    Student ID
                  </th>
                  <th scope="col" class="px-6 py-3 text-center font-primary">
                    Full Name
                  </th>
                  <th scope="col" class="px-6 py-3 text-center font-primary">
                    Registration Status
                  </th>
                  <th scope="col" class="px-6 py-3 text-center font-primary">
                    Submissions
                  </th>
                  <th scope="col" class="px-6 py-3 text-center font-primary">
                    Requirements
                  </th>
                  <th scope="col" class="px-6 py-3 text-center font-primary">
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody class="font-secondary">
                <tr
                  *ngFor="let student of studentlist | filter : searchtext | paginate: { itemsPerPage: 8, currentPage: p  }"
                  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row"
                    class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ student.studentId || 'Not set' }}
                  </th>
                  <td class="px-6 py-4 text-center text-nowrap">
                    {{student.lastName}}, {{ student.firstName }}
                  </td>
                  <td class="px-6 py-4 text-center">
                    <p *ngIf="student.registration_status > 0" class="text-green-600">
                      <b>CLEARED</b>
                    </p>
                    <p *ngIf="student.registration_status == 0" class="text-orange-500">
                      NOT CLEARED
                    </p>
                  </td>
                  <td class="px-6 py-4 text-center">
                    <a (click)="viewSubmissions(student)"
                      class="text-white bg-blue-900 cursor-pointer hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-900 focus:outline-none dark:focus:ring-blue-800">View</a>
                  </td>
                  <td class="px-6 py-4 text-center">
                    <a (click)="viewRequirementsStatus(student.id)"
                      class="text-white bg-blue-900 cursor-pointer hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-900 focus:outline-none dark:focus:ring-blue-800">View</a>
                  </td>
                  <td class="px-6 py-4 text-center">
                    <button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="4"
                          d="M12 6h.01M12 12h.01M12 18h.01" />
                      </svg>


                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="viewProfile(student.id)">
                        <p>View Profile</p>
                      </button>
                    </mat-menu>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="my-5" *ngIf="(studentlist | filter : searchtext)?.length === 0">
              <div class="flex justify-center">
                <img class="opacity-30 h-44 w-44" src="../../../../assets/empty1.png">
              </div>
              <div class="text-center mb-5">
                <h1 class="opacity-40 text-center text-xl font-primary">
                  No students found...
                </h1>
              </div>
              <div class="mb-3 border-b border-gray-200"></div>
            </div>
            <div class="w-full mt-3 flex justify-center">

              <!-- pagination control -->
              <pagination-controls [responsive]="true" class="my-pagination"
                (pageChange)="p = $event"></pagination-controls>

            </div>

          </ng-container>
        </ng-container>
      </div>
    </div>
    <ng-template #noDataMessage>
      <div class="m-10 flex flex-col items-center">
        <div>
          <img class="opacity-40 h-36 w-36" src="../../../../assets/empty3.png">
        </div>
        <div>
          <h1 class="opacity-40 text-center text-4xl font-primary mt-5">
            This Class currently has no Students.
          </h1>
        </div>
      </div>
    </ng-template>
    <ng-template #noBlockMessage>
      <div class="m-10 flex flex-col items-center">
        <div>
          <img class="opacity-40 h-36 w-36" src="../../../../assets/empty2.png">
        </div>
        <div>
          <h1 class="opacity-40 text-center text-4xl font-primary mt-5">
            Please select a Class...
          </h1>
        </div>
      </div>
    </ng-template>
  </div>
</div>