<!-- <app-navbar></app-navbar> -->
<div class="p-2 sm:ml-60">
    <div class="p-1 xl:p-10 ">
      <div>
        <h1 class="text-orange-500 ml-5 font-bold text-lg mb-1">Feedback</h1>
        <div class="border-b border-gray-300"></div>
        <br>
        </div>  
           

        <p class="text-gray-800">Write your feedback in our app in the blank</p>  
        <br>
        <form class="bg-white border border-gray-200 rounded-lg shadow-md shadow-gray-500 h-auto w-auto p-10">
            <div class="w-full">
                <div class="px-4 py-2 mb-5 bg-slate-200 rounded-lg dark:bg-gray-800">
<!--
        <p class="ml-5 text-gray-800">Write your feedback in our app in the blank</p>
        <br>
        <form class="bg-white  border border-gray-200 rounded-lg shadow-md shadow-gray-500 h-auto w-auto p-10">
            <div class="w-full">
                <div class="px-4 py-2 bg-slate-200 rounded-lg mb-5 dark:bg-gray-800">
-->
                <textarea id="comment" rows="7" class="w-full px-0 text-sm text-black-900 bg-slate-200 border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Write something..." required ></textarea>
                </div>
                <div class="flex items-center justify-between  dark:border-gray-600">
                    <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                        Submit
                    </button>
                    
                </div>
            </div>
        </form>
    </div>   
</div>