<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

    <div class="product absolute right-0 bottom-0 flex items-left lg:justify-left w-full opacity-50 lg:opacity-100">

        <img src="./assets/logo.png" alt="product" class="-mb-5 lg:mb-0 -ml- lg:ml-0 product h-[50px] xl:h-[300px] 2xl:h-[500px] w-auto object-cover transform group-hover:translate-x-26 2xl:group-hover:translate-x-48 transition-all duration-1000 lg:duration-700 ease-in-out">
        <!-- product image -->

        <div class="shadow w-full h-5 bg-black bg-opacity-25 filter blur absolute bottom-0 lg:bottom-14 left-0 lg:left-24 rounded-full transform skew-x-10"></div>
        <!-- product shadow -->
      </div>
<!-- page -->
<main class="flex min-h-screen items-center justify-center  text-white">
  <!-- component -->
  <section class="flex flex-col space-y-10 w-[30rem]">
    <div class="text-right text-4xl font-medium  text-black" >Log In</div>

    <div class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
      <input
        type="text"
        placeholder="Student Email"
        class="w-full border-none bg-transparent outline-none placeholder-italic focus:outline-none"
      />
    </div>

    <div class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500 ">
      <input
        type="password"
        placeholder="Password"
        class="w-full border-none bg-transparent outline-none placeholder-italic focus:outline-none"
      />
    </div>
    <a href="#" class="transform text- font-semibold text-black duration-300 hover:text-gray-300 text-right ">FORGOT PASSWORD?</a>

    <button class="transform rounded-sm bg-gray-900 py-5 font-bold duration-300 hover:bg-indigo-100 ">
      LOG IN
    </button>

   
    <p class="text-center text-lg text-black">
      No account?
      <a href="#" class="font-medium text-indigo-500 underline-offset-4 hover:underline ">Create One</a>
    </p>
  </section>
</main>

</body>
</html>
