<app-navbar></app-navbar>
<div class="p-2 sm:ml-60">
  <div class="p-1 xl:p-10 ">
    <div>
      <h1 class="text-orange-500 ml-5 font-bold text-lg mb-1">Dashboard</h1>
      <div class="border-b border-gray-300"></div>
      <br>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 sm:gap-5">
       <div class="grid grid-cols-1 gap-2 sm:grid-cols-1 sm:gap-4 "> 
         <div class=" overflow-x-hidden text-center bg-white h-auto items-center justify-center rounded-lg shadow-lg border border-gray-300 shadow-gray-400">
           <h1 class="text-gray-800 mb-auto mt-3 inline-block border-b-8 rounded-b-md border-orange-500 w-4/5"><b>REGISTRATION STATUS</b></h1>
           <div class="pt-2 pl-4 pr-4 text-xs mb-3">
            <table class="w-full">
             <thead>
               <tr>
                 <th class="text-center font-bold border border-darkblue w-1/2">TO DO</th>
                 <th class="text-center font-bold border border-darkblue w-1/2">STATUS</th>
               </tr>
             </thead>
             <tbody>
               <tr class="">
                 <td class="pl-4 text-left border border-darkblue">RESUME</td>
                 <td class="text-center border border-darkblue"><p class="text-green-600">CLEARED</p></td>
               </tr>
               <tr class="">
                 <td class="pl-4 text-left border border-darkblue">APPLICATION LETTER</td>
                 <td class="text-center border border-darkblue"><p class="text-green-600">CLEARED</p></td>
               </tr>
               <tr class="">
                 <td class="pl-4 text-left border border-darkblue">ACCEPTANCE LETTER</td>
                 <td class="text-center border border-darkblue"><p class="text-green-600">CLEARED</p></td>
               </tr>
               <tr class="">
                 <td class="pl-4 text-left border border-darkblue">ENDORSEMENT LETTER</td>
                 <td class="text-center border border-darkblue"><p class="text-orange-500">NOT CLEARED</p></td>
               </tr>
               <tr class="">
                 <td class="pl-4 text-left border border-darkblue">PARENT'S/GUARDIAN'S WAIVER</td>
                 <td class="text-center border border-darkblue"><p class="text-green-600">CLEARED</p></td>
               </tr>
               <tr class="">
                 <td class="pl-4 text-left border border-darkblue">VACCINATION CARD</td>
                 <td class="text-center border border-darkblue"><p class="text-green-600">CLEARED</p></td>
               </tr>
               <tr class="">
                 <td class="pl-4 text-left border border-darkblue">BARANGAY CLEARANCE</td>
                 <td class="text-center border border-darkblue"><p class="text-green-600">CLEARED</p></td>
               </tr>
               <tr class="">
                 <td class="pl-4 text-left border border-darkblue">MEDICAL CERTIFICATE</td>
                 <td class="text-center border border-darkblue"><p class="text-orange-500">NOT CLEARED</p></td>
               </tr>
               <tr class="">
                 <td class="pl-4 text-left border border-darkblue">COMPANY NAME</td>
                 <td class="text-center border border-darkblue"></td>
               </tr>
             </tbody>
           </table>
           <p class="mt-4 text-xs text-red-700">** If your status was marked as "NOT CLEARED", you need to proceed to the respective office for your registration status. You will not be able to proceed with enlistment/enrollment until you have been cleared in all <b>OJT</b> requirements.</p>
           </div>
         </div>
         <div class="text-center bg-white h-auto items-center overflow-x-hidden justify-center rounded-lg shadow-lg border border-gray-300 shadow-gray-500">
           <h1 class="text-gray-800 mb-auto mt-3 inline-block border-b-8 rounded-b-md border-neon w-4/5"><b>OJT STATUS</b></h1>
           <div class="pt-2 pl-4 pr-4 w-full text-xs mt-1 mb-3">
            <table class="w-full">
              <thead>
                <tr>
                  <th class="font-bold px-4 py-1 text-center border border-darkblue w-2/6">Activities</th>
                  <th class="font-bold px-4 py-1 text-center border border-darkblue w-2/6">Hours</th>
                  <th class="font-bold px-4 py-1 text-center border border-darkblue w-2/6">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="p-2 border border-darkblue">ON-SITE</td>
                  <td class="border border-darkblue">200 hours</td>
                  <td class="border border-darkblue"><p class="text-orange-500">Not Completed</p></td>
                </tr>
                <tr>
                  <td class="p-2 border border-darkblue">OTHER ACTIVITIES</td>
                  <td class=" border border-darkblue">50 hours</td>
                  <td class=" border border-darkblue"><p class="text-green-600">Completed</p></td>
                </tr>
                <tr>
                  <td class="p-2 border border-darkblue">SEMINAR HOURS</td>
                  <td class=" border border-darkblue">50 hours</td>
                  <td class=" border border-darkblue"><p class="text-green-600">Completed</p></td>
                </tr>
              </tbody>
            </table>
           </div>
         </div>
       </div>

      <!-- SECOND BOX -->

       <div class="text-center bg-white h-auto overflow-x-hidden items-center justify-center rounded-lg mt-auto mb-auto shadow-xl border border-gray-200 shadow-gray-400">
        <h1 class="text-gray-800 mb-auto mt-3 inline-block border-b-8 rounded-b-md border-darkblue w-4/5 "><b>OJT HOURS AND SEMINAR HOURS</b></h1>
       <div class="mt-4 pl-4 pr-4 mb-5">
         <table class="w-full">
         <thead>
           <tr class="text-xs">
             <th class="border border-darkblue w-2/8">Activities</th>
             <th class="border border-darkblue w-2/8">Equivalent Points</th>
             <th class="border border-darkblue">Hour Equivalent</th>
             <th class="border border-darkblue">Maximum Points</th>
           </tr>
         </thead>
         <tbody class="text-xs font-semibold">
           <tr>
             <td class="text-xs pt-2 pb-2 border-l border-darkblue">ON-THE JOB TRAINING HOURS</td>
             <td></td>
             <td></td>
             <td class="border-r border-darkblue"></td>
           </tr>
           <tr>
             <td class="text-xs pt-3 pb-3 border border-darkblue">Assigned to a company doing On-site activities</td>
             <td class="border border-darkblue">1pt / 1hr</td>
             <td class="border border-darkblue">1 hour</td>
             <td class="border border-darkblue">200 hours</td>
           </tr>
           <tr>
             <td class="pt-3 pb-3 border border-darkblue">Other activities(e.g commissioned works, online courses, computing service, assisting in CCS task and activities)</td>
             <td class="border border-darkblue">1pt / 1hr</td>
             <td class="border border-darkblue">1 hour</td>
             <td class="border border-darkblue">50 hours</td>
           </tr>
           <tr>
             <td class="pt-3 pb-3 border-l border-darkblue">Seminar Hours</td>
             <td></td>
             <td></td>
             <td class="border-r border-darkblue"></td>
           </tr>
           <tr>
             <td class="pt-3 pb-3 border border-darkblue">Attending webinars and GC CCS Activities</td>
             <td class="border border-darkblue">5pts / webinar</td>
             <td class="border border-darkblue">5 hours</td>
             <td class="border border-darkblue">50 hours</td>
           </tr>
         </tbody>
       </table>
       </div>
      </div>
     </div>
</div>