<div class="bg-slate-50  overflow-auto w-full mx-auto h-auto rounded-lg shadow-md border border-gray-300">

    <div class="flex">
        <div class="flex w-1/2 justify-center my-auto">
            <div class="avatar-container">
                <img *ngIf="avatarUrl; else placeholder" [src]="avatarUrl" class="image-container" alt="Avatar" />
                <ng-template #placeholder>
                    <div class="image-container avatar-placeholder">

                    </div>
                </ng-template>
            </div>
        </div>


        <div class="w-1/2 p-5">
            <div *ngIf="studentProfile && studentProfile.length > 0" class="w-full bg-gray-50"></div>
            <h5 class="mb-2 text-xl mt-2 lg:text-2xl font-bold text-gray-900 font-primary text-center">
                Student Information
            </h5>
            <div class="flow-root ">
                <ul role="list" class="flex flex-col flex-1 px-10">
                    <li class="mb-2">
                        <div class="flex items-center">
                            <div class="flex-1 min-w-0">
                                <p
                                    class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                                    Full Name:
                                </p>
                                <span class="text-sm font-normal lg:text-base font-secondary text-gray-900">{{
                                    studentProfile[0]?.firstName }}
                                    {{ studentProfile[0]?.lastName }}</span>
                            </div>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="flex items-center">
                            <div class="flex-1 min-w-0">
                                <p
                                    class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                                    Student ID:
                                </p>
                                <span [ngClass]="{'text-red-500': !studentProfile[0]?.studentId}"
                                    class="text-sm font-normal lg:text-base font-secondary">
                                    {{ studentProfile[0]?.studentId || "Not set" }}
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="flex items-center">
                            <div class="flex-1 min-w-0">
                                <p
                                    class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                                    Email:
                                </p>
                                <span class="text-sm font-normal lg:text-base font-secondary text-gray-900">{{
                                    studentProfile[0]?.email || "Not set" }}</span>
                            </div>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="flex items-center">
                            <div class="flex-1 min-w-0">
                                <p
                                    class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                                    Program:
                                </p>
                                <span [ngClass]="{'text-red-500': !studentProfile[0]?.program}"
                                    class="text-sm font-normal lg:text-base font-secondary">
                                    {{ studentProfile[0]?.program || "Not set" }}
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="flex items-center">
                            <div class="flex-1 min-w-0">
                                <p
                                    class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                                    Block:
                                </p>
                                <span class="text-sm font-normal lg:text-base font-secondary text-gray-900">{{
                                    studentProfile[0]?.block || "(Please wait for assignation.)" }}</span>
                            </div>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="flex items-center">
                            <div class="flex-1 min-w-0">
                                <p
                                    class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                                    Year:
                                </p>
                                <span [ngClass]="{'text-red-500': !studentProfile[0]?.year}"
                                    class="text-sm font-normal lg:text-base font-secondary">
                                    {{ studentProfile[0]?.year || "Not set" }}
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="border-b border-gray-300 my-2"></div>
                <ul role="list" class="flex flex-col flex-1 px-10">
                    <li class="mb-2">
                        <div class="flex items-center">
                            <div class="flex-1 min-w-0">
                                <p
                                    class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                                    Phone No.:
                                </p>
                                <span class="text-sm font-normal lg:text-base font-secondary text-gray-900">{{
                                    studentProfile[0]?.phoneNumber }}</span>
                            </div>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="flex items-center">
                            <div class="flex-1 min-w-0">
                                <p
                                    class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                                    Address:
                                </p>
                                <span class="text-sm font-normal lg:text-base font-secondary text-gray-900">{{
                                    studentProfile[0]?.address }}</span>
                            </div>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="flex items-center">
                            <div class="flex-1 min-w-0">
                                <p
                                    class="inline me-1 text-base lg:text-lg font-medium font-primary text-gray-900 truncate dark:text-white">
                                    Date of Birth:
                                </p>
                                <span class="text-sm font-normal lg:text-base font-secondary text-gray-900">{{
                                    studentProfile[0]?.dateOfBirth | date : "longDate"
                                    }}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="border-b border-gray-300 my-2"></div>

            <div class="flex justify-end pt-4 pb-4 px-4">

                <button (click)="editInfo(studentProfile)" type="button"
                    class="inline-flex items-center py-3 px-4 text-xs font-medium text-center text-white bg-blue-900 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                    <svg class="w-4 h-4 mr-1 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                            d="M14 4.182A4.136 4.136 0 0 1 16.9 3c1.087 0 2.13.425 2.899 1.182A4.01 4.01 0 0 1 21 7.037c0 1.068-.43 2.092-1.194 2.849L18.5 11.214l-5.8-5.71 1.287-1.31.012-.012Zm-2.717 2.763L6.186 12.13l2.175 2.141 5.063-5.218-2.141-2.108Zm-6.25 6.886-1.98 5.849a.992.992 0 0 0 .245 1.026 1.03 1.03 0 0 0 1.043.242L10.282 19l-5.25-5.168Zm6.954 4.01 5.096-5.186-2.218-2.183-5.063 5.218 2.185 2.15Z"
                            clip-rule="evenodd" />
                    </svg>

                    Edit Information
                </button>
            </div>

        </div>


    </div>
</div>