<div class="p-2 sm:ml-60">
  <div class="p-1 xl:p-10 ">
      <div>
          <h1 class="text-orange-500 ml-5 font-bold text-lg mb-1">Daily Time Record</h1>
          <div class="border-b border-gray-300"></div>
          <br>
      </div>
      <div class="form-outline mt-3">
        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="search" [(ngModel)]="searchtext" id="form1" class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search students for text..." aria-label="search">
    </div>
      <div class="relative overflow-x-auto shadow-md shadow-slate-400 sm:rounded-lg">
          <table mat-table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                      <th scope="col" class="px-6 py-3 text-center">
                          Student ID
                      </th>
                      <th scope="col" class="px-6 py-3 text-center">
                          First Name
                      </th>
                      <th scope="col" class="px-6 py-3 text-center">
                          Last Name
                      </th>
                      <th scope="col" class="px-6 py-3 text-center">
                          Block
                      </th>
                      <th scope="col" class="px-6 py-3 text-center">
                          Submissions
                      </th>                      
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let data of datalist|filter:searchtext"
                      class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                          {{ data.studentId }}
                      </th>
                      <td class="px-6 py-4 text-center">
                          {{ data.firstName }}
                      </td>
                      <td class="px-6 py-4 text-center">
                          {{ data.lastName }}
                      </td>
                      <td class="px-6 py-4 text-center">
                          {{ data.block }}
                      </td>
                      <td class="px-6 py-4 text-center">
                          <a (click)="viewSubmissions(data.id)"
                              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">View</a>
                      </td>                      
                  </tr>
              </tbody>
          </table>
      </div>
  </div>




</div>