.card {
  width: 1200px;
  height: 580px;
  overflow-x: auto; /* corrected semicolon */
  background-color: #808080;
  border-radius: 25px;
  position: relative; /* added position */
}

.card-content {
  width: 1000px;
}

.uploadbtn {
  background-color: blue;
  color: #fff; /* corrected color value */
  font-size: 13px;
  font-weight: 600;
  position: absolute; /* changed position to absolute */
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 30px;
  width: 100px;
  bottom: -35px; /* adjusted position */
  left: 95%; /* adjusted position */
  transform: translateX(-50%); /* center horizontally */
}
.blue-square{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  height: 500px;
  background-color: #8EA0E2;  
}

form {
  width: 50%;
  padding: 200px;
  margin: auto;
}