<app-navbar></app-navbar>
<div class="p-2 sm:ml-60">
    <div class="p-1 xl:p-10 ">
        <div>
            <h1 class="text-orange-500 ml-5 font-bold text-lg mb-1">Submission</h1>
            <div class="border-b border-gray-300"></div>
        <br>
        </div> 

        <p class="text-gray-800">Upload a clear of all the required documents here. All documents should be in <b>portable document format or image format (.pdf, .jpg, .png).</b></p>        
        <br>

        <div class="card">
            <p></p>
            <div class="card-content">
              <div class="blue-square">
                <mat-tab-group>
                    <mat-tab label="Resume"> 
                        <form>
                        <input type="file" id="myFile" name="filename">
                        </form>
                    </mat-tab>
                    <mat-tab label="Application Letter">
                        <form>
                          <input type="file" id="myFile" name="filename">
                        </form>
                     </mat-tab>
                    <mat-tab label="Acceptance Letter"> 
                        <form>
                         <input type="file" id="myFile" name="filename">
                         </form>
                      </mat-tab>
                    <mat-tab label="Endorsement Letter"> 
                        <form>
                            <input type="file" id="myFile" name="filename">
                            </form>
                     </mat-tab>
                    <mat-tab label="Parent's/Guardian's Waiver"> 
                        <form>
                            <input type="file" id="myFile" name="filename">
                            </form>
                     </mat-tab>
                    <mat-tab label="Vaccination Card"> 
                        <form>
                            <input type="file" id="myFile" name="filename">
                            </form>
                         </mat-tab>
                    <mat-tab label="Baranggay Clearance"> 
                        <form>
                            <input type="file" id="myFile" name="filename">
                            </form>
                     </mat-tab>
                    <mat-tab label="Medical Certificate"> 
                        <form>
                            <input type="file" id="myFile" name="filename">
                            </form>
                     </mat-tab>
                </mat-tab-group>
                <a class="uploadbtn" id="uploadBtn">UPLOAD FILES</a>
            </div>
          </div>
        </div>


    </div>
</div>