<app-navbar></app-navbar>
<div class="p-2 sm:ml-60">
  <div class="p-1 xl:p-10">
    <div>
      <h1 class="text-orange-500 ml-5 text-lg font-bold mb-2">Submission</h1>
      <div class="border-b border-gray-300"></div>
      <br />
    </div>

    <p class="text-gray-800">
      Upload a clear of all the required documents here. All documents should be
      in <b>portable document format or image format (.pdf, .jpg, .png).</b>
    </p>
    <br />

    <div class="">
      <p></p>
      <div class="">
        <div
          class="bg-slate-200 rounded-lg w-auto p-5 shadow-xl shadow-gray-500 border border-gray-200"
        >
          <mat-tab-group>
            <mat-tab label="Resume">
              <form
                class="h-96 w-auto flex justify-center pt-40 pb-auto bg-blue-200"
              >
                <input type="file" id="myFile" name="filename" />
              </form>
            </mat-tab>
            <mat-tab label="Application Letter">
              <form
                class="h-96 w-auto flex justify-center pt-40 pb-auto bg-blue-200"
              >
                <input type="file" id="myFile" name="filename" />
              </form>
            </mat-tab>
            <mat-tab label="Acceptance Letter">
              <form
                class="h-96 w-auto flex justify-center pt-40 pb-auto bg-blue-200"
              >
                <input type="file" id="myFile" name="filename" />
              </form>
            </mat-tab>
            <mat-tab label="Endorsement Letter">
              <form
                class="h-96 w-auto flex justify-center pt-40 pb-auto bg-blue-200"
              >
                <input type="file" id="myFile" name="filename" />
              </form>
            </mat-tab>
            <mat-tab label="Parent's/Guardian's Waiver">
              <form
                class="h-96 w-auto flex justify-center pt-40 pb-auto bg-blue-200"
              >
                <input type="file" id="myFile" name="filename" />
              </form>
            </mat-tab>
            <mat-tab label="Vaccination Card">
              <form
                class="h-96 w-auto flex justify-center pt-40 pb-auto bg-blue-200"
              >
                <input type="file" id="myFile" name="filename" />
              </form>
            </mat-tab>
            <mat-tab label="Baranggay Clearance">
              <form
                class="h-96 w-auto flex justify-center pt-40 pb-auto bg-blue-200"
              >
                <input type="file" id="myFile" name="filename" />
              </form>
            </mat-tab>
            <mat-tab label="Medical Certificate">
              <form
                class="h-96 w-auto flex justify-center pt-40 pb-auto bg-blue-200"
              >
                <input type="file" id="myFile" name="filename" />
              </form>
            </mat-tab>
          </mat-tab-group>
          <div class="flex justify-end mr-0 pt-3">
            <button
              type="button"
              class="text-white p-2 px-5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg focus:outline-none"
            >
              Submit File
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
