<div class="p-3 rounded-md shadow-xl max-h-screen">
    <div class="absolute top-3 right-3">
        <button (click)="closePopup()"
            class="p-1 bg-gray-200 opacity-60 hover:opacity-100 hover:shadow-lg rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-x">
                <path d="M18 6 6 18" />
                <path d="m6 6 12 12" />
            </svg>
        </button>
    </div>
    <h1 class="mb-2 text-orange-500 font-bold ml-1">Daily Attendances Submitted:</h1>

    <div *ngIf="datalist.length > 0" class=" flow-root bg-slate-50 px-5 pt-5 justify-center text-center overflow-auto shadow-md
        shadow-slate-200 border border-gray-200 sm:rounded-lg">

        <table
            class="w-full border-2 border-slate-600  text-sm text-center rtl:text-right text-gray-900 dark:text-gray-400 font-secondary">
            <thead class=" text-gray-700  bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr class="bg-slate-100 border-b dark:bg-gray-800 dark:border-gray-700 uppercase">
                    <th class="table-data">Week</th>
                    <th class="table-data">Date</th>
                    <th class="table-data">Clock In</th>
                    <th class="table-data">Clock Out</th>
                    <th class="table-data">Total Hours</th>
                    <th class="table-data">Approval</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of datalist | paginate: { itemsPerPage: itemsPerPage, currentPage: p  } "
                    class="bg-white hover:bg-slate-50 dark:bg-gray-800 dark:border-gray-700">
                    <td class="table-data border-2 border-slate-600">{{ record.weekNumber}}</td>
                    <td class="table-data border-2 border-slate-600">{{ record.date | date : "mediumDate" }}</td>
                    <td class="table-data border-2 border-slate-600">{{ record.startTime ? (record.startTime |
                        time:record.startTime) : "Not set" }}</td>
                    <td class="table-data border-2 border-slate-600">{{ record.endTime ? (record.endTime |
                        time:record.endTime) : "Not set" }}</td>
                    <td class="table-data border-2 border-slate-600">{{record.totalHours || "Not set"}}</td>
                    <td class="table-data border-2 border-slate-600">
                        <div *ngIf="!record.status" class="py-2 my-1 text-center">
                            <p>Not Clocked-out</p>
                        </div>
                        <select *ngIf="record.status" class="border-0 shadow-md text-center rounded-lg cursor-pointer"
                            [(ngModel)]="record.status" [ngClass]="{
                            'text-green-500': record.status === 'Approved',
                            'text-red-500': record.status === 'Unapproved',
                            'text-gray-500': record.status === 'Pending'
                          }" (change)="onStatusChange(record)">
                            <option value="Approved" class="text-green-500">Approved</option>
                            <option value="Unapproved" class="text-red-500">Unapproved</option>
                            <option *ngIf="record.status === 'Pending'" value="Pending" hidden class="text-gray-500">
                                Pending</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="w-full mt-3 flex justify-center">

            <!-- pagination control -->
            <pagination-controls [responsive]="true" class="my-pagination"
                (pageChange)="p = $event"></pagination-controls>

        </div>
    </div>

    <div *ngIf="datalist.length === 0">
        <div class="flex justify-center">
            <img class="opacity-40 h-44 w-44" src="../../../../assets/empty1.png">
        </div>
        <div class="text-center">
            <h1 class="opacity-40 text-center text-lg font-primary">
                This student has not submitted any records yet.
            </h1>
        </div>
    </div>
</div>