<div class="flex justify-center">
    <div class="flex flex-col items-center bg-slate-100 shadow-lg rounded-lg w-[120vh] mt-3 py-10">
        <div class="flex justify-center space-x-2">
            <div
                class="w-[80vh] max-sm:w-52 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <input *ngIf="link" [value]="link" readonly
                    class="bg-transparent border-none text-gray-900 text-sm focus:outline-none w-full dark:text-white" />
                <p *ngIf="!link">(Generating link...)</p>
            </div>


            <button (click)="copyLink()"
                class="bg-blue-900 font-primary text-white px-4 py-2 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300"
                type="button">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide inline -mt-0.5 lucide-clipboard-copy">
                    <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
                    <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2" />
                </svg>
                <span class="ml-1.5 max-sm:hidden">Copy Link</span>
            </button>
        </div>
        <p class="text-center font-primary mt-7 opacity-60 text-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide inline -mt-0.5 lucide-send">
                <path d="m22 2-7 20-4-9-9-4Z" />
                <path d="M22 2 11 13" />
            </svg>
            Share this link to students you wish to join
            this class.
        </p>
    </div>
</div>