<div class="p-4 sm:ml-56">
  <div class="p-3 rounded-md shadow-md">
    <h1 class="mb-2 text-orange-500 font-bold ml-1 font-primary">
      Classes List
    </h1>
    <div class="flex items-center space-x-4 mb-3">
      <div class="form-outline flex-grow">
        <input
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          type="search" [(ngModel)]="searchtext" id="form1" placeholder="Search classes for any text..."
          aria-label="search" />
      </div>

      <button (click)="addClasses()"
        class="bg-orange-500 text-white px-4 py-2 rounded-lg hover:bg-orange-700 focus:ring-4 focus:ring-orange-300"
        type="button">
        Add Classes
      </button>
    </div>
    <div class="relative overflow-x-auto border border-gray-300 sm:rounded-lg">
      <table class="w-full text-sm text-center font-secondary rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3 text-center font-primary">
              Block Name
            </th>
            <!-- <th scope="col" class="px-6 py-3 text-center font-primary">
              Block Code
            </th> -->
            <th scope="col" class="px-6 py-3 text-center font-primary">
              Department
            </th>
            <th scope="col" class="px-6 py-3 text-center font-primary">
              Program
            </th>
            <th scope="col" class="px-6 py-3 text-center font-primary">
              Year Level
            </th>
            <th scope="col" class="px-6 py-3 text-center font-primary">
              Students
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of datalist | paginate: { itemsPerPage: 8, currentPage: p  } | filter : searchtext"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
              {{ data.block_name }}
            </th>
            <td class="px-6 py-4 text-center">
              {{ data.department }}
            </td>
            <td class="px-6 py-4 text-center">
              {{ data.course }}
            </td>
            <td class="px-6 py-4 text-center">
              {{
              data.year_level
              ? (data.year_level | ordinal) + " Year"
              : "Not set"
              }}
            </td>
            <td class="px-6 py-4 flex justify-center text-nowrap">
              <button (click)="viewData(data.block_name)"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" class="lucide mr-1 inline lucide-search">
                  <circle cx="11" cy="11" r="8" />
                  <path d="m21 21-4.3-4.3" />
                </svg>See All</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="my-5" *ngIf="(datalist | filter : searchtext)?.length === 0">
        <div class="flex justify-center">
          <img class="opacity-30 h-44 w-44" src="../../../../assets/empty1.png">
        </div>
        <div class="text-center mb-5">
          <h1 class="opacity-40 text-center text-xl font-primary">
            No classes found...
          </h1>
        </div>
        <div class="mb-3 border-b border-gray-200"></div>
      </div>
      <div class="w-full mt-3 flex justify-center">

        <!-- pagination control -->
        <pagination-controls [responsive]="true" class="my-pagination" (pageChange)="p = $event"></pagination-controls>

      </div>

    </div>
  </div>
</div>