
<div class="p-4 sm:ml-56">

    <div class=" p-3 rounded-md shadow-xl">
        <h1 class="mb-2 text-orange-500 font-bold ml-1">Classes List</h1>
        <div class="flex items-center space-x-4 mb-3">
            <div class="form-outline flex-grow">
                <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    type="search" [(ngModel)]="searchtext" id="form1" 
                    placeholder="Search classes for any text..." aria-label="search">
            </div>

            <button (click)="addClasses()" class="bg-orange-600 text-white px-4 py-2 rounded-lg hover:bg-orange-500 focus:ring-4 focus:ring-orange-300" 
                    type="button" >
                Add Classes
            </button>
        </div>
        <div class="relative overflow-x-auto shadow-md shadow-slate-400 sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-center">
                            Block Name
                        </th>
                        <!-- <th scope="col" class="px-6 py-3 text-center">
                            Handled by
                        </th> -->
                        <th scope="col" class="px-6 py-3 text-center">
                            Department
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Course
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Year Level
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Students
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of datalist|filter:searchtext"
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                            {{ data.block_name }}
                        </th>
                        <!-- <td class="px-6 py-4 text-center">
                            {{ data.coordinator_id }}
                        </td> -->
                        <td class="px-6 py-4 text-center">
                            {{ data.department }}
                        </td>
                        <td class="px-6 py-4 text-center">
                            {{ data.course }}
                        </td>
                        <td class="px-6 py-4 text-center">
                            {{ data.year_level }}
                        </td>
                        <td class="px-6 py-4 text-center">
                            <a (click)="viewData(data.block_name)"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">View</a>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



