<div class="p-4 sm:ml-56">
  <div class="p-3 rounded-md shadow-md">
    <h1 class="mb-2 text-orange-500 font-bold ml-1 font-primary">
      Classes List
    </h1>
    <div class="flex items-center space-x-4 mb-3">
      <div class="form-outline flex-grow">
        <input
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          type="search"
          [(ngModel)]="searchtext"
          id="form1"
          placeholder="Search classes for any text..."
          aria-label="search"
        />
      </div>

      <button
        (click)="addClasses()"
        class="bg-orange-500 text-white px-4 py-2 rounded-lg hover:bg-orange-700 focus:ring-4 focus:ring-orange-300"
        type="button"
      >
        Add Classes
      </button>
    </div>
    <div class="relative overflow-x-auto border border-gray-300 sm:rounded-lg">
      <table
        class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3 text-center font-primary">
              Block Name
            </th>
            <!-- <th scope="col" class="px-6 py-3 text-center font-primary">
                            Handled by
                        </th> -->
            <th scope="col" class="px-6 py-3 text-center font-primary">
              Department
            </th>
            <th scope="col" class="px-6 py-3 text-center font-primary">
              Course
            </th>
            <th scope="col" class="px-6 py-3 text-center font-primary">
              Year Level
            </th>
            <th scope="col" class="px-6 py-3 text-center font-primary">
              Students
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="(datalist | filter : searchtext)?.length === 0">
            <td colspan="7" class="px-6 py-4 text-center text-red-500">
              No Data Found
            </td>
          </tr>
          <tr
            *ngFor="let data of datalist | filter : searchtext"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center"
            >
              {{ data.block_name }}
            </th>
            <!-- <td class="px-6 py-4 text-center">
                            {{ data.coordinator_id }}
                        </td> -->
            <td class="px-6 py-4 text-center">
              {{ data.department }}
            </td>
            <td class="px-6 py-4 text-center">
              {{ data.course }}
            </td>
            <td class="px-6 py-4 text-center">
              {{
                data.year_level
                  ? (data.year_level | ordinal) + " Year"
                  : "Not set"
              }}
            </td>
            <td class="px-6 py-4 text-center">
              <a
                (click)="viewData(data.block_name)"
                class="text-white bg-blue-900 hover:bg-blue-800 cursor-pointer focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                >View</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
