<div class="p-4 sm:ml-56">
  <div class="p-3 rounded-md shadow-md">
    <h1 class="mb-2 text-orange-500 font-bold ml-1 font-primary text-base">
      Student List
    </h1>

    <div class="flex items-center mb-3">
      <div class="form-outline flex-grow">
        <input
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-s-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          type="search" [(ngModel)]="searchtext" id="form1" placeholder="Search students for any text..."
          aria-label="search" />
      </div>
      <div>
        <div>
          <button [matMenuTriggerFor]="filtermenu" matTooltip="Filter"
            class="bg-blue-900 border border-blue-900 font-primary rounded-e-md text-white px-3 py-2  hover:bg-blue-800 "
            type="button">
            <svg class="w-6 h-6 inline text-gray-800 dark:text-white" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
              <path
                d="M5.05 3C3.291 3 2.352 5.024 3.51 6.317l5.422 6.059v4.874c0 .472.227.917.613 1.2l3.069 2.25c1.01.742 2.454.036 2.454-1.2v-7.124l5.422-6.059C21.647 5.024 20.708 3 18.95 3H5.05Z" />
            </svg>
          </button>
          <mat-menu #filtermenu="matMenu">
            <ul class="px-3 space-y-1 font-primary">
              <li class="flex mt-2">
                <button class="rounded-md ms-2 max-sm:text-sm text-orange-500 bg-slate-200 hover:bg-slate-300 px-5"
                  (click)="setFilter('all')">Show All</button>
              </li>
              <h1 class="font-primary">By Year Level:</h1>
              <li>
                <button class="rounded-md ms-2 max-sm:text-sm bg-slate-200 hover:bg-slate-300 px-5"
                  (click)="setFilter('1')">1st Year Students</button>
              </li>
              <li>
                <button class="rounded-md ms-2 max-sm:text-sm bg-slate-200 hover:bg-slate-300 px-5"
                  (click)="setFilter('2')">2nd Year Students</button>
              </li>
              <li>
                <button class="rounded-md ms-2 max-sm:text-sm bg-slate-200 hover:bg-slate-300 px-5"
                  (click)="setFilter('3')">3rd Year Students</button>
              </li>
              <li>
                <button class="rounded-md ms-2 max-sm:text-sm bg-slate-200 hover:bg-slate-300 px-5"
                  (click)="setFilter('4')">4th Year Students</button>
              </li>
              <h1 class="font-primary">By Program:</h1>
              <li>
                <button class="rounded-md ms-2 max-sm:text-sm bg-slate-200 hover:bg-slate-300 px-5"
                  (click)="setFilter('BSCS')">BSCS</button>
              </li>
              <li>
                <button class="rounded-md ms-2 max-sm:text-sm bg-slate-200 hover:bg-slate-300 px-5"
                  (click)="setFilter('BSIT')">BSIT</button>
              </li>
              <li>
                <button class="rounded-md ms-2 max-sm:text-sm bg-slate-200 hover:bg-slate-300 px-5"
                  (click)="setFilter('BSEMC')">BSEMC</button>
              </li>
              <h1 class="font-primary">By Classes:</h1>
              <li>
                <button class="rounded-md ms-2 max-sm:text-sm text-orange-500 bg-slate-200 hover:bg-slate-300 px-5"
                  (click)="setFilter('classes')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="lucide mr-1 inline lucide-arrow-right">
                    <path d="M5 12h14" />
                    <path d="m12 5 7 7-7 7" />
                  </svg>Go to Classes...</button>
              </li>
            </ul>
          </mat-menu>
        </div>
      </div>
      <div class="ml-3">
        <button (click)="assignStudents()"
          class="bg-orange-500 text-white px-4 py-2 rounded-lg hover:bg-orange-700 focus:ring-4 focus:ring-orange-300"
          type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide inline mr-0.5 lucide-replace-all">
            <path d="M14 4c0-1.1.9-2 2-2" />
            <path d="M20 2c1.1 0 2 .9 2 2" />
            <path d="M22 8c0 1.1-.9 2-2 2" />
            <path d="M16 10c-1.1 0-2-.9-2-2" />
            <path d="m3 7 3 3 3-3" />
            <path d="M6 10V5c0-1.7 1.3-3 3-3h1" />
            <rect width="8" height="8" x="2" y="14" rx="2" />
            <path d="M14 14c1.1 0 2 .9 2 2v4c0 1.1-.9 2-2 2" />
            <path d="M20 14c1.1 0 2 .9 2 2v4c0 1.1-.9 2-2 2" />
          </svg>
          Assign into Classes
        </button>
      </div>
    </div>


    <div class="relative overflow-x-auto border border-gray-300 sm:rounded-lg">
      <table mat-table
        class="w-full text-sm text-center font-secondary rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3 font-primary">Full Name</th>
            <th scope="col" class="px-6 py-3 font-primary">Student ID</th>
            <th scope="col" class="px-6 py-3 font-primary">Program</th>
            <th scope="col" class="px-6 py-3 font-primary">Year Level</th>
            <th scope="col" class="px-6 py-3 font-primary">Block</th>
            <th scope="col" class="px-6 py-3 font-primary">Student Profile</th>
            <th scope="col" class="px-6 py-3 font-primary">Submissions</th>
            <th scope="col" class="px-6 py-3 font-primary">Requirements Status</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let students of studentlist | paginate: { itemsPerPage: 8, currentPage: p  } | filter : searchtext"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="px-6 py-4 text-nowrap">
              {{students.lastName}}, {{ students.firstName }}
            </td>
            <td class="px-6 py-4">
              {{ students.studentId ? students.studentId : "Not set" }}
            </td>
            <td class="px-6 py-4">
              {{ students.program ? students.program : "Not set" }}
            </td>
            <td class="px-6 py-4 text-nowrap">
              {{
              students.year ? (students.year | ordinal) + " Year" : "Not set"
              }}
            </td>
            <td class="px-6 py-4 text-nowrap">
              {{ students.block ? students.block : "Not set" }}
            </td>
            <td class="px-6 py-4 flex justify-center font-bold">
              <button (click)="viewInfo(students.id, students.studentId)"><svg xmlns="http://www.w3.org/2000/svg"
                  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-search inline">
                  <circle cx="10" cy="7" r="4" />
                  <path d="M10.3 15H7a4 4 0 0 0-4 4v2" />
                  <circle cx="17" cy="17" r="3" />
                  <path d="m21 21-1.9-1.9" />
                </svg>View</button>
            </td>
            <td class="px-6 py-4 font-bold">
              <button (click)="viewSubmissions(students)"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                  height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" class="lucide mr-1 inline lucide-folder-search">
                  <circle cx="17" cy="17" r="3" />
                  <path
                    d="M10.7 20H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h3.9a2 2 0 0 1 1.69.9l.81 1.2a2 2 0 0 0 1.67.9H20a2 2 0 0 1 2 2v4.1" />
                  <path d="m21 21-1.5-1.5" />
                </svg>View</button>
            </td>
            <td class="px-6 py-4 font-bold">
              <button (click)="viewRegistrationStatus(students.id)"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                  height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" class="mr-1 inline lucide lucide-text-search">
                  <path d="M21 6H3" />
                  <path d="M10 12H3" />
                  <path d="M10 18H3" />
                  <circle cx="17" cy="15" r="3" />
                  <path d="m21 19-1.9-1.9" />
                </svg>View</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="my-5" *ngIf="(studentlist | filter : searchtext)?.length === 0">
        <div class="flex justify-center">
          <img class="opacity-30 h-44 w-44" src="../../../../assets/empty1.png">
        </div>
        <div class="text-center mb-5">
          <h1 class="opacity-40 text-center text-xl font-primary">
            No students found...
          </h1>
        </div>
        <div class="mb-3 border-b border-gray-200"></div>
      </div>
      <div class="w-full mt-3 flex justify-center">

        <!-- pagination control -->
        <pagination-controls [responsive]="true" class="my-pagination" (pageChange)="p = $event"></pagination-controls>

      </div>

    </div>
  </div>
</div>