<!-- <app-navbar></app-navbar> -->

<div class="p-2 sm:ml-60">
    <div class="p-1 xl:p-10 ">
      <div>
        <h1 class="text-orange-500 ml-5 font-bold text-lg mb-1">Weekly Accomplishment Report</h1>
        <div class="border-b border-gray-300"></div>
        <br>
      </div>
      <div class="overflow-x-hidden text-center bg-transparent h-auto mx-0.5 rounded-lg">

        <div class="shadow-md bg-gray-50 rounded-t-xl w-11/12 p-2 mx-auto mt-3 flex justify-between">
            <h1 class="ml-3 text-gray-800 mb-auto inline-block">
            <b>Weekly Accomplishment Report</b>
            </h1>
            <button class="bg-green-500 rounded-xl p-0.5 mr-1">
                <svg class="size-5  text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                  </svg>
            </button>
        </div>
        


        <div class="pt-2 text-xs mb-4 flex justify-center -mt-2">
          <div class="w-11/12 relative overflow-x-auto shadow-md rounded-b-xl">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500  dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Week No.
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Date Submitted
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Submitted Files
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            2022nog2nog
                        </th>
                        <td class="px-6 py-4">
                          kahapon
                        </td>
                        <td class="px-6 py-4">
                            <button class="flex items-center -ml-2" >
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8v8a5 5 0 1 0 10 0V6.5a3.5 3.5 0 1 0-7 0V15a2 2 0 0 0 4 0V8"/>
                                </svg>
                                File/Attachments
                            </button>
                        </td>
                        <td class="px-6 py-4">
                            omsim
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Microsoft Surface Pro
                        </th>
                        <td class="px-6 py-4">
                          kanina
                        </td>
                        <td class="px-6 py-4">
                            <button class="flex items-center -ml-2">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8v8a5 5 0 1 0 10 0V6.5a3.5 3.5 0 1 0-7 0V15a2 2 0 0 0 4 0V8"/>
                                </svg>
                                File/Attachments
                            </button>
                        </td>
                        <td class="px-6 py-4">
                            omsim
                        </td>
                    </tr>
                    <tr class="bg-white dark:bg-gray-800">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Magic Mouse 2
                        </th>
                        <td class="px-6 py-4">
                          nung isang araw
                        </td>
                        <td class="px-6 py-4">
                            <button class="flex items-center -ml-2">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8v8a5 5 0 1 0 10 0V6.5a3.5 3.5 0 1 0-7 0V15a2 2 0 0 0 4 0V8"/>
                                </svg>
                                File/Attachments
                            </button>
                        </td>
                        <td class="px-6 py-4">
                            omsim
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>  



        </div>
      </div>
    </div>
  </div>
  