<div
    class="overflow-x-hidden text-center bg-white h-auto items-center justify-center rounded-lg shadow-lg border border-gray-300 shadow-gray-400">
    <h1 class="text-gray-800 mb-auto mt-3 inline-block border-b-8 rounded-b-md border-orange-500 w-4/5">
        <b>REGISTRATION STATUS</b>
    </h1>
    <div class="pt-2 pl-4 pr-4 text-xs mb-3">
        <table class="w-full">
            <thead>
                <tr>
                    <th class="text-center font-bold border border-darkblue w-1/2">TO DO</th>
                    <th class="text-center font-bold border border-darkblue w-1/2">STATUS (Toggle)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="pl-4 text-left border border-darkblue">RESUME</td>
                    <td class="text-center border border-darkblue">
                        <button class="btn-toggle"
                            (click)="toggleRequirement('resume', studentRequirements[0]?.resume)">
                            <p *ngIf="studentRequirements.length > 0 && studentRequirements[0].resume"
                                class="text-green-600">
                                CLEARED</p> 
                            <p *ngIf="studentRequirements.length > 0 && !studentRequirements[0].resume"
                                class="text-orange-500">
                                NOT CLEARED</p>
                        </button>
                    </td>
                </tr>
                <!-- Repeat the above pattern for other requirements -->
                <tr>
                    <td class="pl-4 text-left border border-darkblue">APPLICATION LETTER</td>
                    <td class="text-center border border-darkblue">
                        <button class="btn-toggle"
                            (click)="toggleRequirement('application_letter', studentRequirements[0]?.application_letter)">
                            <p *ngIf="studentRequirements.length > 0 && studentRequirements[0].application_letter"
                                class="text-green-600">
                                CLEARED</p>
                            <p *ngIf="studentRequirements.length > 0 && !studentRequirements[0].application_letter"
                                class="text-orange-500">
                                NOT CLEARED</p>
                        </button>
                    </td>
                </tr>


                <tr>
                    <td class="pl-4 text-left border border-darkblue">ACCEPTANCE LETTER</td>
                    <td class="text-center border border-darkblue">
                        <button class="btn-toggle"
                            (click)="toggleRequirement('acceptance_letter', studentRequirements[0]?.acceptance_letter)">
                            <p *ngIf="studentRequirements.length > 0 && studentRequirements[0].acceptance_letter"
                                class="text-green-600">
                                CLEARED</p>
                            <p *ngIf="studentRequirements.length > 0 && !studentRequirements[0].acceptance_letter"
                                class="text-orange-500">
                                NOT CLEARED</p>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td class="pl-4 text-left border border-darkblue">ENDORSEMENT LETTER</td>
                    <td class="text-center border border-darkblue">
                        <button class="btn-toggle"
                            (click)="toggleRequirement('endorsement_letter', studentRequirements[0]?.endorsement_letter)">
                            <p *ngIf="studentRequirements.length > 0 && studentRequirements[0].endorsement_letter"
                                class="text-green-600">
                                CLEARED</p>
                            <p *ngIf="studentRequirements.length > 0 && !studentRequirements[0].endorsement_letter"
                                class="text-orange-500">
                                NOT CLEARED</p>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td class="pl-4 text-left border border-darkblue">PARENT'S/GUARDIAN'S WAIVER</td>
                    <td class="text-center border border-darkblue">
                        <button class="btn-toggle"
                            (click)="toggleRequirement('guardians_waiver', studentRequirements[0]?.guardians_waiver)">
                            <p *ngIf="studentRequirements.length > 0 && studentRequirements[0].guardians_waiver"
                                class="text-green-600">
                                CLEARED</p>
                            <p *ngIf="studentRequirements.length > 0 && !studentRequirements[0].guardians_waiver"
                                class="text-orange-500">
                                NOT CLEARED</p>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td class="pl-4 text-left border border-darkblue">VACCINATION CARD</td>
                    <td class="text-center border border-darkblue">
                        <button class="btn-toggle"
                            (click)="toggleRequirement('vaccination_card', studentRequirements[0]?.vaccination_card)">
                            <p *ngIf="studentRequirements.length > 0 && studentRequirements[0].vaccination_card"
                                class="text-green-600">
                                CLEARED</p>
                            <p *ngIf="studentRequirements.length > 0 && !studentRequirements[0].vaccination_card"
                                class="text-orange-500">
                                NOT CLEARED</p>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td class="pl-4 text-left border border-darkblue">BARANGGAY CLEARANCE</td>
                    <td class="text-center border border-darkblue">
                        <button class="btn-toggle"
                            (click)="toggleRequirement('barangay_clearance', studentRequirements[0]?.barangay_clearance)">
                            <p *ngIf="studentRequirements.length > 0 && studentRequirements[0].barangay_clearance"
                                class="text-green-600">
                                CLEARED</p>
                            <p *ngIf="studentRequirements.length > 0 && !studentRequirements[0].barangay_clearance"
                                class="text-orange-500">
                                NOT CLEARED</p>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td class="pl-4 text-left border border-darkblue">MEDICAL CERTIFICATE</td>
                    <td class="text-center border border-darkblue">
                        <button class="btn-toggle"
                            (click)="toggleRequirement('medical_certificate', studentRequirements[0]?.medical_certificate)">
                            <p *ngIf="studentRequirements.length > 0 && studentRequirements[0].medical_certificate"
                                class="text-green-600">
                                CLEARED</p>
                            <p *ngIf="studentRequirements.length > 0 && !studentRequirements[0].medical_certificate"
                                class="text-orange-500">
                                NOT CLEARED</p>
                        </button>
                    </td>
                </tr>
                <!-- Repeat for other requirements -->
            </tbody>
        </table>
    </div>
</div>