<div class="p-3 rounded-md shadow-xl">
    <h1 class="mb-2 text-orange-500 font-bold ml-2">Assign Advisors:</h1>

    <div class="p-2">

        <form [formGroup]="inputform" (ngSubmit)="submitForm()">
            <div class="grid gap-2 mb-6 md:grid-cols-2">
                <div>
                    <label for="coordinators"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an
                        Advisor:</label>
                    <select formControlName="coordinator_id" id="coordinators"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <option value="" disabled selected>All Advisors:</option>
                        <option *ngFor="let item of coordlist?.payload" [value]=item.id><b>{{item.id}}</b> - {{item.last_name}}, {{item.first_name}}
                        </option>
                    </select>
                </div>
                <div>
                    <label for="classes" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a
                        Class:</label>
                    <select formControlName="block_name" id="classes"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <option value="" disabled selected>All Classes:</option>
                        <option *ngFor="let item of classlist" [value]="item.block_name">{{item.block_name}}</option>
                    </select>
                </div>
            </div>

            
            <div class="flex justify-center">
                <button type="submit"
                    class="bg-blue-900 text-white px-4 py-2 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-orange-300">Assign Advisor</button>
            </div>

        </form>

    </div>
</div>