<div class="mat-dialog-content relative">

    <div *ngIf="studentProfile" class="w-full rounded-lg overflow-auto">
        <div class="bg-slate-50 overflow-auto w-full mx-auto rounded-lg shadow-md border border-gray-300 relative">
            <button (click)="closePopup()"
                class="absolute p-1 bg-gray-200 opacity-60 hover:opacity-100 hover:shadow-lg rounded-full top-3 right-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-x">
                    <path d="M18 6 6 18" />
                    <path d="m6 6 12 12" />
                </svg>
            </button>

            <div class="flex flex-col px-6 py-4">

                <!-- first col -->
                <div class="flex justify-center mx-auto mb-6 w-[30%] max-sm:w-[60%]">
                    <div class="">
                        <div class="avatar-container">
                            <img *ngIf="studentProfile.avatar; else placeholder" [src]="studentProfile.avatar"
                                class="image-container" alt="Avatar" />
                            <ng-template #placeholder>
                                <div class="image-container avatar-placeholder"></div>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-2 grid-flow-col max-sm:grid-flow-row max-sm:grid-cols-1 justify-center">
                    <!-- second col -->

                    <div class="flow-root">
                        <h5 class="mb-2 text-lg max-sm:text-base mt-2 font-bold text-gray-900 font-primary text-center">
                            Student Information
                        </h5>
                        <ul role="list" class="flex flex-col flex-1">
                            <li class="mb-2">
                                <div class="grid grid-flow-col grid-cols-3  max-sm:items-start items-center">
                                    <div class="flex-1 col-span-2 min-w-0 ms-4">
                                        <p class="inline me-1 text-sm font-normal font-primary text-gray-900 truncate dark:text-white"
                                            id="name">
                                            Full Name:
                                        </p>
                                        <br />
                                        <span class="text-lg max-sm:text-base font-semibold font-secondary">{{
                                            studentProfile.firstName
                                            }} {{ studentProfile.lastName }}</span>
                                    </div>
                                    <div class="flex-1 min-w-0 max-sm:ms-0 ms-4">
                                        <p
                                            class="inline me-1 text-sm font-normal font-primary text-gray-900 truncate dark:text-white">
                                            Year Level:
                                        </p>
                                        <br />
                                        <span [ngClass]="{'text-red-500': !studentProfile.year}"
                                            class="text-lg max-sm:text-base font-semibold font-secondary">
                                            {{ studentProfile.year || "Not set" }}
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-2">
                                <div class="grid-flow-col grid grid-cols-3 max-sm:items-start items-center">
                                    <div class="flex-1 col-span-2 min-w-0 ms-4">
                                        <p
                                            class="inline me-1 text-sm font-normal font-primary text-gray-900 truncate dark:text-white">
                                            Student ID:
                                        </p>
                                        <br />
                                        <span [ngClass]="{'text-red-500': !studentProfile.studentId}"
                                            class="text-lg max-sm:text-base font-semibold font-secondary">
                                            {{ studentProfile.studentId || "Not set" }}
                                        </span>
                                    </div>
                                    <div class="flex-1 min-w-0 max-sm:ms-0 ms-4">
                                        <p
                                            class="inline me-1 text-sm font-normal font-primary text-gray-900 truncate dark:text-white">
                                            Program:
                                        </p>
                                        <br />
                                        <span [ngClass]="{'text-red-500': !studentProfile.program}"
                                            class="text-lg max-sm:text-base font-semibold font-secondary">
                                            {{ studentProfile.program || "Not set" }}
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-2">
                                <div class="grid-flow-col grid grid-cols-3 max-sm:items-start items-center">
                                    <div class="flex-1 col-span-2 min-w-0 ms-4">
                                        <p
                                            class="inline me-1 text-sm font-normal font-primary text-gray-900 truncate dark:text-white">
                                            Email:
                                        </p>
                                        <br />
                                        <span [ngClass]="{'text-red-500': !studentProfile.email}"
                                            class="text-lg max-sm:text-base truncate overflow-ellipsis font-semibold font-secondary">{{
                                            studentProfile.email ||
                                            "Not set" }}</span>
                                    </div>
                                    <div class="flex-1 min-w-0 max-sm:ms-0 ms-4">
                                        <p
                                            class="inline me-1 text-sm font-normal font-primary text-gray-900 truncate dark:text-white">
                                            Block:
                                        </p>
                                        <br />
                                        <span [ngClass]="{'text-red-500': !studentProfile.block}"
                                            class="text-lg max-sm:text-base font-semibold font-secondary">{{
                                            studentProfile.block ||
                                            "No Block" }}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- third col -->
                    <div class="flow-root relative">
                        <h5 class="mb-2 text-lg max-sm:text-base mt-2 font-bold text-gray-900 font-primary text-center">
                            OJT Information
                        </h5>
                        <div *ngIf="!studentProfile.company_id">
                            <div class="flex justify-center">
                                <img class="opacity-40 h-32 w-3h-32" src="../../../../assets/empty1.png">
                            </div>
                            <div>
                                <h1 class="opacity-40 text-center text-lg font-primary mt-4">
                                    This student currently does not have an OJT site.
                                </h1>
                            </div>
                        </div>
                        <ul *ngIf="studentProfile.company_id" role="list" class="flex flex-col flex-1">
                            <div *ngIf="!companyView">
                                <li class="mb-2">
                                    <div class="grid grid-cols-2 gap-20 max-sm:gap-5 max-sm:items-start items-center">
                                        <div class="flex-1  min-w-0 ms-4">
                                            <p
                                                class="inline me-1 text-sm font-normal font-primary text-gray-900 truncate dark:text-white">
                                                Currently working at:
                                            </p>
                                            <br />
                                            <span class="text-lg max-sm:text-base font-semibold font-secondary">{{
                                                studentProfile.company_name }}</span>
                                        </div>
                                        <div class="flex-1 min-w-0 ms-4">
                                            <p
                                                class="inline me-1 text-sm max-sm:text-xs font-normal font-primary text-gray-900 truncate dark:text-white">
                                                Date Hired:
                                            </p>
                                            <br />
                                            <span class="text-lg max-sm:text-base font-semibold font-secondary">{{
                                                studentProfile.hire_date | date : "longDate" }}</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb-2">
                                    <div class="grid-cols-1 grid items-center">
                                        <div class="flex-1 min-w-0 ms-4">
                                            <p
                                                class="inline me-1 text-sm font-normal font-primary text-gray-900 truncate dark:text-white">
                                                Job Title:
                                            </p>
                                            <br />
                                            <span class="text-lg max-sm:text-base font-semibold font-secondary">{{
                                                studentProfile.job_title || "Unassigned"}}</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb-2">
                                    <div class="grid grid-cols-2 gap-20 max-sm:gap-5 max-sm:items-start items-center">
                                        <div class="flex-1  min-w-0 ms-4">
                                            <p
                                                class="inline me-1 text-sm max-sm:text-xs font-normal font-primary text-gray-900 truncate dark:text-white">
                                                Total Hours Worked:
                                            </p>
                                            <br />
                                            <span
                                                class="text-lg max-sm:text-base font-semibold font-secondary">{{studentProfile.TotalHoursWorked
                                                ? (studentProfile.TotalHoursWorked + " hrs") : "Not Started" }}</span>
                                        </div>

                                    </div>
                                </li>
                            </div>
                            <div *ngIf="companyView">
                                <li class="mb-2">
                                    <div class="grid grid-cols-2 gap-20 max-sm:gap-5 max-sm:items-start items-center">
                                        <div class="flex-1  min-w-0 ms-4">
                                            <p
                                                class="inline me-1 text-sm max-sm:text-xs font-normal font-primary text-gray-900 truncate dark:text-white">
                                                Company CEO:
                                            </p>
                                            <br />
                                            <span [ngClass]="{'text-red-500' : !company?.company_ceo}"
                                                class="text-lg max-sm:text-base font-semibold font-secondary">{{
                                                company?.company_ceo
                                                ||
                                                "Not set"
                                                }}</span>
                                        </div>
                                        <div class="flex-1  min-w-0 ms-4">
                                            <p
                                                class="inline me-1 text-sm max-sm:text-xs font-normal font-primary text-gray-900 truncate dark:text-white">
                                                Company Address:
                                            </p>
                                            <br />
                                            <span [ngClass]="{'text-red-500' : !company?.address}"
                                                class="text-sm max-sm:text-base font-semibold font-secondary">{{
                                                company?.address || "Not set"
                                                }}</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb-2">
                                    <div class="grid grid-cols-2 gap-20 max-sm:gap-5 max-sm:items-start items-center">
                                        <div class="flex-1  min-w-0 ms-4">
                                            <p
                                                class="inline me-1 text-sm max-sm:text-xs font-normal font-primary text-gray-900 truncate dark:text-white">
                                                Company Size:
                                            </p>
                                            <br />
                                            <span [ngClass]="{'text-red-500' : !company?.company_size}"
                                                class="text-lg max-sm:text-base font-semibold font-secondary">{{
                                                company?.company_size
                                                ||
                                                "Not set"
                                                }}</span>
                                        </div>
                                        <div class="flex-1  min-w-0 ms-4">
                                            <p
                                                class="inline me-1 text-sm max-sm:text-xs font-normal font-primary text-gray-900 truncate dark:text-white">
                                                IT Equipment:
                                            </p>
                                            <br />
                                            <span
                                                [ngClass]="{'text-red-500' : !company?.it_equipment || company?.it_equipment?.length === 0}"
                                                class="text-sm max-sm:text-base capitalize font-semibold font-secondary">{{
                                                company?.it_equipment?.length > 0 ? company?.it_equipment : "None set"
                                                }}</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb-2">
                                    <div class="grid grid-cols-2 gap-20 max-sm:gap-5 max-sm:items-start items-center">
                                        <div class="flex-1  min-w-0 ms-4">
                                            <p
                                                class="inline me-1 text-sm max-sm:text-xs font-normal font-primary text-gray-900 truncate dark:text-white">
                                                Industry:
                                            </p>
                                            <br />
                                            <span [ngClass]="{'text-red-500' : !company?.industry}"
                                                class="text-lg max-sm:text-base font-semibold font-secondary">{{
                                                company?.industry
                                                ||
                                                "Not set"
                                                }}</span>
                                        </div>

                                    </div>
                                </li>
                            </div>

                            <div class="absolute bottom-1.5 right-1.5">
                                <button (click)="toggleCompanyView()"
                                    class="bg-blue-900 font-primary text-white px-3 py-1 rounded-lg hover:bg-blue-800"
                                    type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide -mt-0.5 me-1 inline lucide-search">
                                        <circle cx="11" cy="11" r="8" />
                                        <path d="m21 21-4.3-4.3" />
                                    </svg>
                                    <span class="max-sm:hidden">{{!companyView ? 'View Company' : 'View Job'}}</span>
                                </button>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>