.disabled {
    opacity: 0.3;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.75rem;
  }

  

  .my-pagination ::ng-deep .ngx-pagination .current{
      padding: .1875rem .625rem; 
      background: #1e1b4b;
      color: #fefefe;
      cursor: default;
  }

  .my-pagination ::ng-deep .ngx-pagination li{
    border-radius: 25px;
    margin: 0 2px;
}  

.my-pagination ::ng-deep .ngx-pagination li :hover{
  border-radius: 25px;  
}
 
