<aside id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-56 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar">
  <div class="h-full px-3 py-2 overflow-hidden shadow-lg bg-dash-b">
    <div>
      <div class="flex justify-center">
        <img src="../../../assets/logo.png" class="flex justify-center ps-2.5 h-36 w-36" alt="PractiPro Logo" />
      </div>

      <h1 class="text-center mb-4">
        <span class="self-center text-xl font-semibold whitespace-nowrap text-white font-primary">Student Page</span>
      </h1>
    </div>
    <div class="border-b border-gray-300"></div>
    <div>
      <ul class="space-y-2 mt-4 font-medium">
        <li>
          <!-- Dashboard Button -->
          <a routerLink="student-dashboard" routerLinkActive="active" class="button">
            <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                d="M11 9h6m-6 3h6m-6 3h6M6.996 9h.01m-.01 3h.01m-.01 3h.01M4 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Z" />
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap font-primary">Dashboard</span>
          </a>
        </li>
        <li>
          <!-- Profile Butt -->
          <a routerLink="student-profile" routerLinkActive="active" class="button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap font-primary">Profile</span>
          </a>
        </li>
        <li>
          <!-- Submission Butt -->
          <a routerLink="student-submission" routerLinkActive="active" class="button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap font-primary">Requirements</span>
          </a>
        </li>

        <ng-container *ngIf="registrationStatus !== 0; else registrationMessage">

          <li>
            <!-- Documentation Butt -->
            <a routerLink="student-documentation" routerLinkActive="active" class="button"
              [class.disabled]="registrationStatus === 0">
              <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                  d="M18 5V4a1 1 0 0 0-1-1H8.914a1 1 0 0 0-.707.293L4.293 7.207A1 1 0 0 0 4 7.914V20a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-5M9 3v4a1 1 0 0 1-1 1H4m11.383.772 2.745 2.746m1.215-3.906a2.089 2.089 0 0 1 0 2.953l-6.65 6.646L9 17.95l.739-3.692 6.646-6.646a2.087 2.087 0 0 1 2.958 0Z" />
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap font-primary">Documentation</span>
            </a>
          </li>
          <li></li>
          <li>
            <!-- Daily Time Record Butt -->
            <a routerLink="student-dtr" routerLinkActive="active" class="button"
              [class.disabled]="registrationStatus === 0">
              <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                  d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap font-primary">Daily Attendance</span>
            </a>
          </li>
          <li>
            <!-- Weekly Report Butt -->
            <a routerLink="student-weekly-report" routerLinkActive="active" class="button"
              [class.disabled]="registrationStatus === 0">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z" />
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap font-primary">Accomplishment <br>Report
              </span>
            </a>
          </li>
          <li>
            <!-- Exit Poll -->
            <a routerLink="student-exit-poll" routerLinkActive="active" class="button"
              [class.disabled]="registrationStatus === 0">
              <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                  d="M10 3v4a1 1 0 0 1-1 1H5m4 6 2 2 4-4m4-8v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z" />
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap font-primary">Final Report</span>
            </a>
          </li>
          <li>
            <!-- Feedback Butt -->
            <a routerLink="student-feedback" routerLinkActive="active" class="button">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap font-primary">Feedback</span>
            </a>
          </li>
        </ng-container>
        
        <ng-template #registrationMessage>
          <div class="border-b border-gray-300 pt-2"></div>
          <p class="text-center text-white mt-4">Clear your <span class="text-orange-500">Registration Status</span> first to proceed!</p>
          <div class="border-b border-gray-300 pb-1"></div>
        </ng-template>

      </ul>
    </div>
  </div>
</aside>