<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-56 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto shadow-xl shadow-black bg-dash-b">
       <a href="https://www.youtube.com/watch?v=S2t59dPf9K0" class="flex items-center ps-2.5">
          <img src="../../../assets/logo.png" class="h-48 w-48" alt="Flowbite Logo" />
       </a>
       <h1 class="text-center mb-8">
         <span class=" self-center text-xl font-semibold whitespace-nowrap text-white">Practi</span><span class="text-xl font-semibold text-orange-500">Pro</span>
        </h1>
       <ul class="space-y-6 font-medium">
          <li>
            <!-- Submission Button -->
             <a routerLink="../student-submissions" routerLinkActive="active" class="button">
                <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"/>
                  </svg>              
                <span class="ms-3">Submissions</span>
             </a>
          </li>
          <li>
            <!-- Weekly Accomplishment Report Button -->
             <a routerLink="../accomplishment-reports" routerLinkActive="active" class="button">
                  <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-3 5h3m-6 0h.01M12 16h3m-6 0h.01M10 3v4h4V3h-4Z"/>
                  </svg>                
                <span class="flex-1 ms-3 whitespace-nowrap">Acccomplishment <br> Report</span>
             </a>
          </li>
          <li>
            <!-- Date & Time Button -->
             <a routerLink="../students-dtr" routerLinkActive="active" class="button">
                <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                  </svg>                  
                <span class="flex-1 ms-3 whitespace-nowrap">Daily Time Record </span>
             </a>
          </li>
          <li>
       </ul>
    </div>
 </aside>